<div class="menuOverlay menuOverlay-content" ng-controller="menuController">
    <header class="menuOverlay-headerMenu">
        <ul>
            <li>
                <div class="menuOverlay-logo">
                    <a href ng-click="switchPage('home')" title="Home">
                        Alexis Bertin <span>Front-End & UI Developer</span><span>Go home, you're drunk</span>
                    </a>
                </div>
            </li>
        </ul>
    </header>
    <ul class="menuOverlay-mainMenu">
        <li ng-repeat="mainMenu in menuOverlay[0].mainMenu" >
            <a href title="{{mainMenu.name}}" class="{{mainMenu.class}}" ng-click="switchPage(mainMenu.link)">
                <span>{{mainMenu.name}}</span>
            </a>
        </li>
        <li>
            <ul class="menuOverlay--externalLinks">
                <li>
                    <a href="https://twitter.com/_alexisbertin" title="Twitter" target="_blank">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="20px" height="20px" viewBox="0 0 20 20" enable-background="new 0 0 20 20" xml:space="preserve" class="icon-twitter">
                            <use xlink:href="assets/svg/svgicons.svg#icon-twitter"></use>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="https://github.com/AlexisBertin" title="GitHub" target="_blank">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="20px" height="20px" viewBox="0 0 20 20"
                             enable-background="new 0 0 20 20" xml:space="preserve" class="icon-github">
                            <use xlink:href="assets/svg/svgicons.svg#icon-github"></use>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="http://codepen.io/AlexisBertin/" title="CodePen" target="_blank">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="20px" height="20px" viewBox="0 0 20 20"
                             enable-background="new 0 0 20 20" xml:space="preserve" class="icon-codepen">
                            <use xlink:href="assets/svg/svgicons.svg#icon-codepen"></use>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/pub/alexis-bertin/6b/281/5a7" title="LinkedIn" target="_blank">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="20px" height="20px" viewBox="0 0 20 20"
                             enable-background="new 0 0 20 20" xml:space="preserve" class="icon-linkedin">
                            <use xlink:href="assets/svg/svgicons.svg#icon-linkedin"></use>
                        </svg>
                    </a>
                </li>
            </ul>

            <ul class="menuOverlay--secondMenu">
                <li class="menuOverlay-secondMenu--fullScreen">
                    <a href ng-click="toggleFullScreen()" title="Full Screen">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="20px" height="20px" viewBox="0 0 20 20"
                             enable-background="new 0 0 20 20" xml:space="preserve" class="icon-screen-full">
                            <use xlink:href="assets/svg/svgicons.svg#icon-screen-full"></use>
                        </svg>
                    </a>
                </li>
                <li ng-repeat="secondMenu in menuOverlay[1].secondMenu" class="menuOverlay-secondMenu--elements">
                    <a href title="{{secondMenu.name}}" class="{{secondMenu.class}}" ng-mouseover="hoverIn(secondMenu.id, 'secondMenu')" ng-mouseleave="hoverOut(secondMenu.id, 'secondMenu')" ng-click="switchPage(secondMenu.link)">
                        <h4>{{secondMenu.name}}</h4>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</div>

