<div class="menuOverlay" ng-controller="menuController">


    <div class="menuOverlay-logo"><span>Alexis Bertin</span> Frontend & UI Developer</div>

    <ul class="menuOverlay-mainMenu">
        <li ng-repeat="mainMenu in menuOverlay" >
            <a href="{{mainMenu.link}}" title="{{mainMenu.name}}" class="{{mainMenu.class}}" ng-mouseover="hoverIn(mainMenu.id)" ng-mouseleave="hoverOut(mainMenu.id)">
                <div class="menuOverlay--menuContent {{mainMenu.subClass}}">
                    <h3>{{mainMenu.name}}</h3>

                    <p>{{mainMenu.desc}}</p>
                </div>
            </a>
        </li>
    </ul>

    <ul class="menuOverlay-externalLinks">
        <li><a title="Alexis Bertin's Twitter" href="https://twitter.com/_alexisbertin" target="_blank" class="menuOverlay--twitter"></a></li>
        <li><a title="Alexis Bertin's LinkedIn" href="http://www.linkedin.com/profile/view?id=248502799" target="_blank" class="menuOverlay--linkedin"></a></li>
    </ul>


      <!-- <li>
            <ul class="menuOverlay-subMenu">
                <li><a href="credits/" title="credits">Credits</a><li>
                <li><a href="" title="privacyPolicies">Privacy & Policies</a><li>
                <li><a href="404/" title="404 - you are lost">404</a><li>
            </ul>
        </li> -->

    <div class="close">
        x
    </div>

</div>

<!-- 
{
            "id": "2",
            "name": "Design Process",
            "desc": "How this mothership was made",
            "link": "designProcess/",
            "class":"menuOverlay--btdesignProcess",
            "subClass":""
        }, -->