<section class="contact">
    <header class="transiArray alphaTransi" data-transi="contactHeader">
        <div class="header-container">
            <h1>Contact</h1>
        </div> 
    </header>

    <form class="transiArray alphaTransi contactForm" data-transi="contactForm" role="form" action="/sendMessage" method="post">
        
        <textarea id="contactForm-message" name="message" placeholder="Drop me a line, send a joke or just test the form script (stop doing this please)" type="text" ng-model="contactForm.message" required></textarea>


        <label>But first, I need <input id="contactForm-name" name="name" placeholder="your name" type="text" ng-model="contactForm.name" required /></label>
        <label>, and <input id="contactForm-mail" name="mail" placeholder="your mail adress" type="email" ng-model="contactForm.mail" required /></label>

        <div class="contactForm-submit">
            <input id="contactForm-submitInput" type="submit" value="Send the message">
            <svg width="292" height="52">   
                <line class="home-btStartUx--top" x1="0" y1="0" x2="876" y2="0" />
                <line class="home-btStartUx--right" x1="292" y1="0" x2="292" y2="156" />
                <line class="home-btStartUx--bottom" x1="292" y1="52" x2="-584" y2="52" />
                <line class="home-btStartUx--left" x1="0" y1="52" x2="0" y2="-104" />
            </svg>
        </div>

    </form>


    <footer class="transiArray alphaTransi" data-transi="footerBanner-contact">
        <a href class="footer-nextPageLink_contact" ng-click="switchPage('credits', 'directLink')" title="link to the credits page">
            <span>Visit the <b>Credits</b> page</span>
            <svg width="312" height="52">   
                <line class="home-btStartUx--top" x1="0" y1="0" x2="936" y2="0" />
                <line class="home-btStartUx--right" x1="312" y1="0" x2="312" y2="156" />
                <line class="home-btStartUx--bottom" x1="312" y1="52" x2="-624" y2="52" />
                <line class="home-btStartUx--left" x1="0" y1="52" x2="0" y2="-104" />
            </svg>
        </a>
    </footer>


</section>