<section class="credits">
    <header class="alphaTransi">
        <div class="header-container">
            <h1>Credits</h1>
        </div> 
    </header>

    <div class="alphaTransi pageContent">
        <article>
            <h6>Technologies</h6>
            <ul>
                <li><span>HTML(5)</span></li>
                <li><span>CSS(3)</span>
                    <ul>
                        <li>SASS</li>
                        <li>Bourbon</li>
                    </ul>
                </li>
                <li><span>Javascript</span>
                    <ul>
                        <li>jQuery</li>
                        <li>Tweenlite</li>
                        <li>Angular.js</li>
                        <li>Node.js
                            <ul><li>nodeMailer</li></ul>
                        </li>
                        <li>modernizr.js</li>
                        <li>svg4everybody.js</li>
                        <li>autosize.js</li>
                    </ul>
                </li>
                <li><span>SVG</span></li>
                <li><span>JSON</span></li>
            </ul>
        </article>
        <article>
            <h6>Articles / Docs</h6>
            <ul>
                <li><a href="http://www.smashingmagazine.com/category/coding/" target="_blank" title="Smashing Magazine Website">Smashing Magazine</a></li>
                <li><a href="http://tympanus.net/codrops/" target="_blank" title="Tympanus Codrops Website">Tympanus Codrops</a></li>
                <li><a href="https://scotch.io/" target="_blank" title="Scotch.io Website">Scotch.io</a></li>
            </ul>
        </article>
        <article>
            <h6>Conferences / Talks</h6>
            <ul>
                <li><a href="https://vimeo.com/channels/beyondtellerrand" target="_blank" title="Beyond Tellerand on Vimeo">Beyond Tellerand</a></li>
                <li><a href="https://vimeo.com/channels/kikk" target="_blank" title="KIKK Festival on Vimeo">KIKK Festival</a></li>
                <li><a href="https://www.youtube.com/user/GoogleDevelopers" target="_blank" title="Google Developers YouTube channel">Google Developers YouTube channel</a></li>
            </ul>
        </article>
        <article>
            <h6>Awesome Digital Citizens</h6>
            <p>These guys are my superheroes. Sometimes I wish I could be as good as they are.<br/>
                Mostly developers here. There is also a lot of awesome designers I could add to this list.</p>
            <ul>
                <li><a href="https://twitter.com/aaronkoblin" target="_blank" title="Twitter of Aaron Koblin">Aaron Koblin</a></li>
                <li><a href="https://twitter.com/mrdoob" target="_blank" title="Twitter of Mr Doob">Mr Doob</a></li>
                <li><a href="https://twitter.com/brad_frost" target="_blank" title="Twitter of Brad Frost">Brad Frost</a></li>
                <li><a href="https://twitter.com/jaffathecake" target="_blank" title="Twitter of Jake Archibald">Jake Archibald</a></li>
                <li><a href="https://twitter.com/seb_ly" target="_blank" title="Twitter of Seb Lee-Delisle">Seb Lee-Delisle</a></li>
                <li><a href="https://twitter.com/codepo8" target="_blank" title="Twitter of Christian Heilmann">Christian Heilmann</a></li>
                <li><a href="https://twitter.com/brendandawes" target="_blank" title="Twitter of Brendan Dawes">Brendan Dawes</a></li>
                <li><a href="https://twitter.com/LeaVerou" target="_blank" title="Twitter of Lea Verou">Lea Verou</a></li>
                <li><a href="https://twitter.com/crnacura" target="_blank" title="Twitter of Manoela Ilic">Manoela Ilic</a></li>
                <li><a href="https://twitter.com/SaraSoueidan" target="_blank" title="Twitter of Sara Soueidan">Sara Soueidan</a></li>
            </ul>
        </article>
        <article>
            <h6>Procrastination</h6>
            <ul>
                <li><a href="http://thecodinglove.com/" target="_blank" title="The Coding Love Website">The Coding Love</a></li>
                <li><a href="https://twitter.com/iamdevloper" target="_blank" title="Twitter of I Am Devloper">I Am Devloper</a></li>
                <li><a href="https://twitter.com/idiot" target="_blank" title="Twitter of Visual Idiot">Visual Idiot</a></li>
            </ul>
        </article>
    </div>
</section>









