	<section class="home">
		<div class="transiArray alphaTransi" id="homeTitle">
            <p>Hello, I'm</p>
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="287px" height="138px" viewBox="0 0 287 138"
                 enable-background="new 0 0 287 138" xml:space="preserve">

                <use xlink:href="assets/svg/svgdefs.svg#homeAlexis"></use>
            </svg>
            <p><span>, </span>a young</p>
            <h2>Front-End & UI Developer</h2>
		</div>
        <!-- <a href="" data-role='ajax' title="" class="home-btStartUx">Let's take a ride</a> -->

        
        <div class="home-btStartUx transiArray alphaTransi" id="btStartUx" ng-click="openMenuOverlay('home')">
            <span>Let's take a ride</span>
            <svg width="245" height="52">   
                <line class="home-btStartUx--top" x1="0" y1="0" x2="735" y2="0" />
                <line class="home-btStartUx--right" x1="245" y1="0" x2="245" y2="156" />
                <line class="home-btStartUx--bottom" x1="245" y1="52" x2="-490" y2="52" />
                <line class="home-btStartUx--left" x1="0" y1="52" x2="0" y2="-104" />
            </svg>
            <p id="home-tips">or press M</p>
        </div>
	</section>