<section class="landingPage">
    <header class="alphaTransi">
        <div class="header-container">
            <h1>Hello</h1>
            <!-- <h2>Who the f*** is this guy ?</h2> -->
        </div> 
    </header>

    <div class="alphaTransi pageContent">
        <article>
            <p>I’m looking for <span>crazy</span> and <span>nice people to work with</span> in Dublin, with whom I could have fun, learn, share and debate about ideas and knowledge.</p>

            <p>Because I couldn't possibly have enough time in a life to learn everything I'd like to and because I’m still a <span>junior front-end</span>, I’ll probably need a bit of time to adapt to the technologies you are actually using to develop digital experiences. Even if <span>CSS and Javascript are my dopes</span> and most of my JS knowledge is unfortunately based on jQuery, I finally came back to reason and now try as much as I can to use and learn the good practices and mechanics of vanilla JS.<br />
            Node, Angular and all the awesome JS stuff I used for this website were a good way for it.</p>

            <p>Otherwise, I am a <span>fast-learner</span> and I <span>love to work as part of a team</span> for exponential good mood, thus exponential passionate work and therefore exponential productivity.</p>
            <!-- (*** GIF PLACE ? ***) -->

            <p>Unfortunately, because I’m also a <span>23 years old French frog from Brittany</span>, my English is clearly not perfect.
            Therefore, just like for the technologies you are using everyday in the agency, I might need some time to adapt my brain to the Irish accent, even though I love it. At the beginning, I may ask you to slow down or to repeat yourself from time to time.</p>


            <p>Finally, I’d like to <span>thank you</span> if you actually read all this content. It means a lot to me.<br />
            I hope I managed to interest you in spending some more time to take a look at the rest of this website, read a bit more <a href ng-click="switchPage('about', 'directLink')" title="link to the about page">about me</a> and why not check my few <a href ng-click="switchPage('works', 'directLink')" title="link to the work page">student projects</a>.</p>

            <p>And, if after browsing my website you feel like it, I'd be delighted to have a chance to show you my real motivation and passion in person.</p>
        </article>
    </div>



    <footer class="pageFooter alphaTransi">
        <a href class="footer-nextPageLink_landing" ng-click="switchPage('home', 'directLink')" title="link to the home page">
            <span><b>Home</b> page</span>
            <svg width="174" height="52">   
                <line class="home-btStartUx--top" x1="0" y1="0" x2="522" y2="0" />
                <line class="home-btStartUx--right" x1="174" y1="0" x2="174" y2="156" />
                <line class="home-btStartUx--bottom" x1="174" y1="52" x2="-348" y2="52" />
                <line class="home-btStartUx--left" x1="0" y1="52" x2="0" y2="-104" />
            </svg>
        </a>
    </footer>


</section>









