
        
        <h3>
            <a href ng-click="worksClose();" title="Back to all works" class="works--title">Works</a>
        </h3>

        <nav class="works--arrow" id="works--nav" data-workpage="">
            <a href class="works---arrowPrev" ng-click="worksPrev();" >
                <span class="works---iconWrap">
                    <svg viewBox="0 0 64 64">
                        <path id="arrow-left-1" d="M46.077 55.738c0.858 0.867 0.858 2.266 0 3.133s-2.243 0.867-3.101 0l-25.056-25.302c-0.858-0.867-0.858-2.269 0-3.133l25.056-25.306c0.858-0.867 2.243-0.867 3.101 0s0.858 2.266 0 3.133l-22.848 23.738 22.848 23.738z" />
                    </svg>
                </span>
                <h5>Prev. Work</h5>
            </a>
            <a href class="works---close" ng-click="worksClose();">
                <span id="works---count"></span>/<span id="works---length"></span>
                <span id="works---closeTxt">Close</span>
            </a>
            <a href class="works---arrowNext" ng-click="worksNext();">
                <span class="works---iconWrap">
                    <svg viewBox="0 0 64 64">
                        <path id="arrow-right-1" d="M17.919 55.738c-0.858 0.867-0.858 2.266 0 3.133s2.243 0.867 3.101 0l25.056-25.302c0.858-0.867 0.858-2.269 0-3.133l-25.056-25.306c-0.858-0.867-2.243-0.867-3.101 0s-0.858 2.266 0 3.133l22.848 23.738-22.848 23.738z" />
                    </svg>
                </span>
                <h5>Next Work</h5>
            </a>
        </nav>



        <div class="works--description" id="works---darthVader" ng-show="workTab.isSet('1')">
            <div class="works---descHeader">
                <h4>Darth Vader Light House</h4>
                <h5>Arduino Experiment | June 2014</h5>
            </div>
            <div class="works---descContent">
                <p>The <span><i>Darth Vader Light House</i></span> is my final project as a student.<br />
                I started to learn the <i>Arduino</i> technology (language + electronics stuff) two months before that project.</p>

                <video controls>
                    <source src="assets/video/1_darthVader.mp4" type="video/mp4">
                    <source src="assets/video/1_darthVader.ogv" type="video/ogg">
                    <source src="assets/video/1_darthVader.webm" type="video/webm">
                    Your browser does not support the video tag. You still can watch the video <a href="https://vimeo.com/98102278" target="_blank" title="Watch the video on Vimeo">there</a>.
                </video>

                <p>This <span><i>Arduino</i> experiment</span> sends some requests to an online php file which checks the <span>#ardunno</span> hashtag on Twitter.<br />
                When there is a new tweet with this hashtag, the Vader Lighthouse reads the tweet and translates it into <span>morse code</span>.</p>

                <img src="assets/img/work/1_1_darthVader.jpg" alt="Darth vader light house photo overview" />

                <p>This work is clearly not over. The next steps will probably be to <span>code a live stream</span> for the tweet requests and a website with a webcam stream to see the result in live.</p>
            </div>

            <a href="http://alexisbertin.tumblr.com/" class="works---extLink" target="_blank" title="visit the Darth Vader Light House website">The Blog</a>

        </div>





        <div class="works--description" id="works---gifMePlz" ng-show="workTab.isSet('2')">
            <div class="works---descHeader">
                <h4>GifMePlz</h4>
                <h5>Basic UX | PHP Exercise | June 2014</h5>
            </div>

            <div class="works---descContent">
                <p>This project has been done for a <span>PHP exam</span> in June 2014.<br/>
                There were a few predefined subjects and the possibility to make a request to the teacher for a personal one. That’s what I did here with <i>GifMePlz</i>.</p>

                <img src="assets/img/work/2_1_gifMePlz.jpg" alt="Home of the Gif me please website" />

                <h6>The Introduction</h6>
                <p><i>For this experiment, you will be asked to put on your <span>best facial expressions</span> in reaction to the words appearing on your screen.<br />
                There will be <span>8 words</span>, all <span>related to emotions</span> such as “sadness” or “happiness”.<br />
                They will be displayed one at a time and a picture will automatically be taken before the next word appears.<br />
                Once we have the 8 shots, you will be able to <span>convert them into a gif file</span> or view them one by one.</i></p>

                <img src="assets/img/work/2_2_gifMePlz.jpg" alt="quick overview of the Gif me please experience" />

                <p>Because of the really short deadline and the other projects (same period than the Vader Light House), this work was developped in <span>less than 24 hours</span>. That’s why this is still pretty buggy and that’s why I call this an <span>"experiment"</span>.<br />
                I still have many ideas around this concept and there is a lot of work which has to be done with the code, and especially with the dirty PHP I’m not really proud of.<br />
                I will probably restart all this with Node asap.</p>

            </div>

            <a href="www.alexisbertin.ovh/gifMePlz/" class="works---extLink" target="_blank" title="visit the Gif Me Please website">The Experience</a>
        </div>





        <div class="works--description" id="works---portfolio2013"  ng-show="workTab.isSet('3')">
            <div class="works---descHeader">
                <h4>Portfolio 2013</h4>
                <h5>June 2013</h5>
            </div>
            <div class="works---descContent">
                <p>This website is <span>my former portfolio</span> and the second one I did.</p>
                <img src="assets/img/work/3_1_portfolio2013.jpg" alt="Home page of my old website" />
                <p>Even if I was quite proud of the design, I consider the code to be pretty dirty: big mistakes about optimisation which make the pages really heavy and slow to load.</p>
                <img src="assets/img/work/3_2_portfolio2013.jpg" alt="Contact page of my old website" />
            </div>

            <a href="http://www.alexisbertin.ovh/fr/" class="works---extLink" target="_blank" title="visit the Portfolio 2013 website">The Old Portfolio</a>
        </div>



        <div class="works--description" id="works---oweme" ng-show="workTab.isSet('4')">
            <div class="works---descHeader">
                <h4>OweMe</h4>
                <h5>PHP Web APP | February 2014</h5>
            </div>
            <div class="works---descContent">
                <p><i>OweMe</i> is a <span>web-app</span> made during the one-week <a href="https://dwm.re/ilab/" target="_blank" title="link to DMW.re website"><i>iLab</i> workshop</a> in February 2014.<br />
                The aim of this app is to create "accounts" related to events or activities where all money flows between the people concerned appear, allowing us to <span>keep track of what we owe and are owed</span>.</p>

                <video controls>
                    <source src="assets/video/4_oweme.mp4" type="video/mp4">
                    <source src="assets/video/4_oweme.ogv" type="video/ogg">
                    <source src="assets/video/4_oweme.webm" type="video/webm">
                    Your browser does not support the video tag. You still can watch the video <a href="https://vimeo.com/98102278" target="_blank" title="Watch the video on Vimeo">there</a>.
                </video>

                <p>Although it turns out to be useful mostly to stingy people and/or wannabe bankers, our challenge as a team of 4 for the "iLab" workshop was to build from scratch a web-app in <span>less than a week</span>.</p>

                <img src="assets/img/work/4_1_oweme.png" alt="quick overview of Owe me app" />

                <p>On this project I was in charge of developing all the backend and front-end of the app in itself. The introducing website however was done by one of my teammates.<br />
                Unfortunately, at that time I didn’t know any "app & mobile" optimization and integration techniques such as Node.js or Angular so the entire thing is absolutely not optimized and amounts to what I’d call a "shit storm" of <span>PHP</span>, <span>SQL</span>, <span>Ajax</span> & <span>jQuery</span>.<br />
                Still, even if the whole app remains quite "buggy", I am somehow proud of the work I did on this project given the very short deadline.</p>
            </div>

            <a href="https://github.com/AlexisBertin/iLab2014" class="works---extLink" target="_blank" title="visit the OweMe github">The Project on Github</a>
        </div>



        <div class="works--description" id="works---usaFlight" ng-show="workTab.isSet('5')">
            <div class="works---descHeader">
                <h4>USA, Leader of The Flight World</h4>
                <h5>Data visualization Marathon | November 2012</h5>
            </div>
            <div class="works---descContent">
                <p>This data visualization work was carried out <span>in 24 hours</span> with <a href="http://twitter.com/vincent_vandy" title="Twitter of Vincent Vandy" target="_blank">Vincent Vandy</a> for the international competition <a href="http://visualizing.org/marathon2012" title="Visualizing Global Marathon website" target="_blank">Visualizing Global Marathon</a>.</p>
                <img src="assets/img/work/5_1_usaFlight.jpg" alt="Picture of the visualization Logo" />

                <p>The topic we chose was the « <span>Global Flights Network</span> », represented here in relation to the three busiest airports in the United States.</p>

                <img src="assets/img/work/5_2_usaFlight.jpg" alt="Picture of one of the graph of this visualization" />
            </div>

            <a href="http://www.alexisbertin.ovh/_/USA_Flight_Trafic/" class="works---extLink" target="_blank" title="visit the dataviz website">The Dataviz</a>
        </div>





        <div class="works--description" id="works---commeChezSoi" ng-show="workTab.isSet('6')">
            <div class="works---descHeader">
                <h4>Comme chez Soi Restaurant</h4>
                <h5>HTML & CSS Exercise | March 2013</h5>
            </div>
            <div class="works---descContent">
                <p>Comme chez Soi was a little <span>redesigning exercise</span> for my <span>first real HTML/CSS course</span> at the <a href="http://www.infographie-sup.be/" title="website of the Haute École Albert Jacquard school" target="_blank">HEAJ</a>.</p>

                <img src="assets/img/work/6_1_commeChezSoi.jpg" alt="Overview of the Comme chez soi redesigned website" />

                <p>More than building a very complex code, the aim of this exercise was rather to code in a <span>very clean</span>, <span>optimized</span> and <span>documented</span> way.<br />
                We had not yet learned all the responsive design and platform agnostic terms. It might also had been because the ideas of « platform agnostic », « content like water » or progressive enhancement were not really commonly used at this moment.</p>
            </div>

            <a href="http://www.alexisbertin.ovh/_/commechezsoi/" class="works---extLink" target="_blank" title="visit the redesigned website">The Website</a>
        </div>





        <div class="works--description" id="works---portfolio2012" ng-show="workTab.isSet('7')">
            <div class="works---descHeader">
                <h4>Portfolio 2012</h4>
                <h5>June 2012</h5>
            </div>

            <div class="works---descContent">
                <p>This is my <span>first Portfolio</span>. It is based on a background animation created with Three.js.<br />
                The idea was to build an atmosphere with a three-dimensional space and try to create some immersion.</p>

                <img src="assets/img/work/7_1_portfolio2012.jpg" alt="Overview of the home page of my first portfolio" />

                <p>Even if this project doesn’t really represent my actual skills (especially in code), I still like to watch it sometimes to try to focus on the UI/UX mistakes I could have made and try to fix them for my actual and next projects.</p>

                <img src="assets/img/work/7_2_portfolio2012.jpg" alt="Overview of my first portfolio" />

                <p>This portfolio was probably my first big « solo rush » for a website with sleepless nights, pizza everyday and stuff like that.</p>
            </div>

            <a href="http://www.alexisbertin.ovh/_/TFA_2012/" class="works---extLink" target="_blank" title="visit the Portfolio 2012 website">The Old Portfolio</a>
        </div>





        <div class="works--description" id="works---plasticSurgery" ng-show="workTab.isSet('8')">
            <div class="works---descHeader">
                <h4>Plastic Surgery</h4>
                <h5>Data visualization Workshop | April 2013</h5>
            </div>

            <div class="works---descContent">
                <p>This <span>data visualization</span> was carried out with <a href="" title="Jessica's website">Jessica Meldon</a> (illustrations) and <a href="" title="Jean Claeys' website">Jean Claeys</a>.</p>
                
                <img src="assets/img/work/8_1_plasticSurgery.jpg" alt="Overview of home page" />

                <p>« <span>Plastic Surgery</span> » is a student project carried out under the datavizualisation workshop organized by the <a href="" title="Design Web & Multimedia twitter">DWM group</a> at the <a href="" title="website of the Haute École Albert Jacquard school">HEAJ</a>.</p>

                <img src="assets/img/work/8_2_plasticSurgery.jpg" alt="Picture of what mens really like dataviz" />

                <p>For this data visualization project, we had to use either data from and about the school or other data about anything else but of course with a big research work.<br />
                In our obsession for the <span>derision and black humour</span>, we chose to work on plastic surgery, especially in the United States.</p>

                <img src="assets/img/work/8_3_plasticSurgery.jpg" alt="Picture of the price to be perfect dataviz" />

                <p>Even if the code is not actually really great, I had a lot of fun working on this. More than for the work in itself, I still put this work in my portfolio because it’s also a part of me and what I love working on.<br />
                The more the project will focus on an <span>offbeat, weird, funny topic</span> and the more time and freedom to satisfy my urges of <span>bad jokes and easter eggs</span> I’ll have, the more fun I’ll have working on it.</p>
            </div>

            <a href="http://alexisbertin.ovh/dataviz04/" class="works---extLink" target="_blank" title="visit the Plastic surgery dataviz website">The Dataviz Website</a>
        </div>
       




        <div class="works--description" id="works---anchl" ng-show="workTab.isSet('9')">
            <div class="works---descHeader">
                <h4>ANCHL</h4>
                <h5>Joomla Integration | December 2013</h5>
            </div>
            <div class="works---descContent">
                <p>The « <span>Association Nationale des Centres Hospitaliers Locaux</span> » (National Association of Local Hospital Centers) website was the main project I worked on during my <span>internship at</span> <a href="" title="website of the Loesys Agency">Loesys</a> in 2013.</p>

                <img src="assets/img/work/9_1_anchl.jpg" alt="Overview of the ANCHL website" />

                <p class="clearMargin">This project was a <span>big challenge</span> as a developer and a <span>big chance for an intern</span> like me for many reasons:</p>
                <ul id="works----anchlListing">
                    <li>I didn’t know Joomla yet.</li>
                    <li>All the design (layouts, wireframes… etc) had been <span>made by a print designer</span> therefore the integration of some of these elements gave me headaches.</li>
                    <li>When they gave me this project, <span>the deadline had passed 2 weeks before</span>. I had to give the project manager an estimation of the time this job would take without even knowing how to deal with Joomla while he was on the phone with the client. A lot of pressure.</li>
                    <li><span>Responsive</span>.</li>
                    <li>At the end of this project, the team was trusting me enough to let me <span>present the result to the client</span>, get the feedback, stay in touch with them should any problem arise and teach them how to use the administrator panel (how to post articles, manage users… etc).</li>
                    <li><span id="works-----anchlSpanGif">IE6 compatibility</span>.<img id="works-----anchlGif" src="assets/img/work/9_0_anchl.gif" alt="Magic Trick gif" /></li>
                </ul>
                
            </div>
        </div>