<section class="works">
    <header class="transiArray alphaTransi" data-transi="worksHeader">
        <div class="header-container">
            <h1>Work</h1>
            <h2>My few projects</h2>
            <p>Here are the few projects I worked on as a student.<br /> I concider a lot of them as quite obscolete but they individually represents something I really loved to work on or something which was really usefull in my learnings.</p>
        </div> 
    </header>

    <div class="works-list transiArray alphaTransi pageContent" data-transi="worksList">
        <article ng-repeat="work in works" id="work{{work.link}}">
           <!--  <svg width="350" height="400">   
                <line class="worksList-work--top" x1="0" y1="0" x2="1050" y2="0" />
                <line class="worksList-work--right" x1="350" y1="0" x2="350" y2="1200" />
                <line class="worksList-work--bottom" x1="350" y1="400" x2="-700" y2="400" />
                <line class="worksList-work--left" x1="0" y1="400" x2="0" y2="-800" />
            </svg> -->
            <!-- <a ui-sref="partyDetail({ partyID: id, partyLocation: location })">See the Party</a> -->
            
            <a href="works#{{work.link}}" ng-click="workTab.setTab(work.id)" ng-attr-title="take a look at {{work.name}}" class="{{work.mainTypeClass}}">
                <div class="work--header">
                    <div class="work---headerContent">
                        <h3 class="{{work.h3Class}}">{{work.name}}</h3>
                        <p>{{work.miniDesc}}</p>
                    </div>
                </div>
                <div class="work--details">{{work.mainType}}</div>
                <div class="work--background" style="background: url('assets/img/work/{{work.id}}_{{work.link}}.jpg') {{work.bgColor}} center center no-repeat; background-size: {{work.bgSize}}"></div>
            </a>
            
        </article>
    </div>
    <footer class="transiArray alphaTransi" data-transi="footerBanner-works">
        <a href class="footer-nextPageLink_work" ng-click="switchPage('works', 'directLink')" title="link to the about page">
            <span>Visit the <b>About</b> page</span>
            <svg width="292" height="52">   
                <line class="home-btStartUx--top" x1="0" y1="0" x2="876" y2="0" />
                <line class="home-btStartUx--right" x1="292" y1="0" x2="292" y2="156" />
                <line class="home-btStartUx--bottom" x1="292" y1="52" x2="-584" y2="52" />
                <line class="home-btStartUx--left" x1="0" y1="52" x2="0" y2="-104" />
            </svg>
        </a>
    </footer>

</section>


<section class="works-content transiArray alphaTransi" works-content ng-swipe-left="worksPrev();" ng-swipe-right="worksNext();"></section>







