<section class="works">
    <div class="mainNav">
        <h1>Works</h1>
        <h2>Alexis<br />Bertin</h2>
        <ul class="mainNav-menu">
            <li><a href="" data-role='ajax' title="Works" class="mainNav--btProject">Works</a></li>
            <li><a href="../about/" data-role='ajax' title="About" class="mainNav--btAbout">About</a></li>
            <li><a href="../contact/" data-role='ajax' title="Contact" class="mainNav--btContact">Contact</a></li>
        </ul>
    </div>
    <div class="mainFooter">   
        <ul class="mainFooter-links">
            <li><a title="Alexis Bertin's Twitter" href="https://twitter.com/_alexisbertin" target="_blank" class="mainFooter--twitter"></a></li>
            <li><a title="Alexis Bertin's LinkedIn" href="http://www.linkedin.com/profile/view?id=248502799" target="_blank" class="mainFooter--linkedin"></a></li>
        </ul>
    </div>
</section>