<section class="works">
    <h1>Page Works test</h1>
    


    <div class="works-contents">
        <div class="works--description works---vader">
            <p>The <span>Darth Vader Light House</span> is my final project as a student.<br />
            I started to learn the Arduino technology (language + electronics stuff) two months before that project.</p>

            <p>This <span>Arduino experiment<span> sends some requests to an online php file which checks the #ardunno hashtag on Twitter.<br />
            When there is a new tweet with the #ardunno hashtag, the Vader Lighthouse reads the tweet and translates it into morse code.</p>

            <p>This work is clearly not over. The next steps will probably be to code a live stream for the tweet requests and a website with a webcam stream to see the result in live.</p>
        </div>
        <div class="works--description works---gifMePlz">
            <p>This project has been done for a <span>PHP exam</span> in June 2014.<br/>
            There were a few predefined subjects and the possibility to make a request to the teacher for a personal one. That’s what I did here with GifMePlz.</p>

            <h3>The Introduction</h3>
            <p>For this experiment, you will be asked to put on your <span>best facial expressions</span> in reaction to the words appearing on your screen.<br />
            There will be <span>8 words</span>, all <span>related to emotions</span>such as “sadness” or “happiness”.<br />
            They will be displayed one at a time and a picture will automatically be taken before the next word appears.<br />
            Once we have the 8 shots, you will be able to <span>convert them into a gif file</span> or view them one by one.</p>

            <p>Because of the really short deadline and the other projects (same period than the Vader Light House), this work was developped in <span>less than 24 hours</span>. That’s why this is still pretty buggy and that’s why I call this an <span>« experiment »</span>.<br />
            I still have many ideas around this concept and there is a lot of work which has to be done with the code, and especially with the dirty PHP I’m not really proud of. Maybe I will restart all this with Node.</p>
        </div>
        <div class="works--description works---portfolio2013">
            <p>This website is <span>my former portfolio</span> and the second one I did.</p>

            <p>Even if I was quite proud of the design, I consider the code to be pretty dirty: big mistakes about optimisation which make the pages really heavy and slow to load.</p>
        </div>
        <div class="works--description works---usaDataviz">
            <p>This data visualization work was carried out <span>in 24 hours</span> with <a href="http://twitter.com/vincent_vandy" title="Twitter of Vincent Vandy">Vincent Vandy</a> for the international competition <a href="" title="Visualizing Global Marathon website">Visualizing Global Marathon.</a></p>

            <p>The topic we chose was the « <span>Global Flights Network</span> », represented here in relation to the three busiest airports in the United States.</p>
        </div>
        <div class="works--description works---portfolio2012">
            <p>This is my <span>first Portfolio</span>. It is based on a background animation created with Three.js.<br />
            The idea was to build an atmosphere with a three-dimensional space and try to create some immersion.</p>

            <p>Even if this project doesn’t really represent my actual skills (especially in code), I still like to watch it sometimes to try to focus on the UI/UX mistakes I could have made and try to fix them for my actual and next projects.</p>

            <p>This portfolio was probably my first big « solo rush » for a website with sleepless nights, pizza everyday and stuff like that.</p>
        </div>
        <div class="works--description works---plasticSurgery">
            <p>This <span>data visualization</span> was carried out with <a href="" title="Jessica's website">Jessica Meldon</a> (illustrations) and <a href="" title="Jean Claeys' website">Jean Claeys</a>.</p>

            <p>« <span>Plastic Surgery</span> » is a student project carried out under the datavizualisation workshop organized by the <a href="" title="Design Web & Multimedia twitter">DWM group</a> at the <a href="" title="website of the Haute École Albert Jacquard school">HEAJ</a>.</p>

            <p>For this data visualization project, we had to use either data from and about the school or other data about anything else but of course with a big research work.<br />
            In our obsession for the <span>derision and black humour</span>, we chose to work on plastic surgery, especially in the United States.</p>

            <p>Even if the code is not actually really great, I had a lot of fun working on this. More than for the work in itself, I still put this work in my portfolio because it’s also a part of me and what I love working on.<br />
            The more the project will focus on an <span>offbeat, weird, funny topic</span> and the more time and freedom to satisfy my urges of <span>bad jokes and easter eggs</span> I’ll have, the more fun I’ll have working on it.</p>
        </div>
        <div class="works--description works---commeChezSoi">
            <p>Comme chez Soi was a little <span>redesigning exercise</span> for my <span>first real HTML/CSS course</span> at the <a href="" title="website of the Haute École Albert Jacquard school">HEAJ</a>.</p>

            <p>More than building a very complex code, the aim of this exercise was rather to code in a <span>very clean</span>, <span>optimized</span> and <span>documented</span> way.<br />
            We had not yet learned all the responsive design and platform agnostic terms. It might also had been because the ideas of « platform agnostic », « content like water » or progressive enhancement were not really commonly used at this moment.</p>
            </p>
        </div>
        <div class="works--description works---anchl">
            <p>The « <span>Association Nationale des Centres Hospitaliers Locaux</span> » (National Association of Local Hospital Centers) website was the main project I worked on during my <span>internship at</span> <a href="" title="website of the Loesys Agency">Loesys</a> in 2013.</p>
            
            <p>This project was a <span>big challenge</span> as a developer and a <span>big chance for an intern</span> like me for many reasons:
            <ul>
                <li>- I didn’t know Joomla yet.</li>
                <li>- All the design (layouts, wireframes… etc) had been made by a print designer therefore the integration of some of these elements gave me headaches.</li>
                <li>- <span>IE6 compatibility</span>.</li>
                <li>- When they gave me this project, the deadline had passed 2 weeks before. I had to give the project manager an estimation of the time this job would take without even knowing how to deal with Joomla while he was on the phone with the client. A lot of pressure.</li>
                <li>- At the end of this project, the team was trusting me enough to let me present the result to the client, get the feedback, stay in touch with them should any problem arise and teach them how to use the administrator panel (how to post articles, manage users… etc).</li>
            </ul>
            </p>
        </div>
    </div>
</section>













