@import "../css/bourbon/bourbon";


@mixin center-align {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
$yellow: #f4fd14;

@font-face {
    font-family: 'valenciahairline';
    src: url('../fonts/valenciahairline-webfont.eot');
    src: url('../fonts/valenciahairline-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/valenciahairline-webfont.woff') format('woff'),
         url('../fonts/valenciahairline-webfont.ttf') format('truetype'),
         url('../fonts/valenciahairline-webfont.svg#valenciahairline') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'good_footregular';
    src: url('../fonts/goodfoot_regular_macroman/goodfoot-webfont.eot');
    src: url('../fonts/goodfoot_regular_macroman/goodfoot-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/goodfoot_regular_macroman/goodfoot-webfont.woff') format('woff'),
         url('../fonts/goodfoot_regular_macroman/goodfoot-webfont.ttf') format('truetype'),
         url('../fonts/goodfoot_regular_macroman/goodfoot-webfont.svg#good_footregular') format('svg');
    font-weight: normal;
    font-style: normal;

}





body {
	font-size: 100%;
	background: #000;
	
	/*header {
		h1 {
			color: rgba(255,255,255,.4);
			font-family: "proxima-nova",sans-serif;
			font-weight: 100;
			@include transition(color .2s);
			&:hover {
				color: white;
			}
		}
	}*/
	
}


/* ---------------- System CSS ---------------- */
	section {
		z-index: 1000;
		-webkit-transition: opacity .2s ease-in-out;
		-moz-transition: opacity .2s ease-in-out;
		-ms-transition: opacity .2s ease-in-out;
		-o-transition: opacity .2s ease-in-out;
		transition: opacity .2s ease-in-out;
		
		opacity: 0;
		width: 100%;
		height: 100%;
		z-index: 9;
	}
		section > div {
			z-index: 12;
		}
		.opacity {
			opacity: 1;
		}
		.background {
			position: fixed;
			top: 0;
			width: 100%;
			height: 100%;
			overflow: hidden;
			background: rgba(0,0,0,.2);
			/*-moz-box-sizing:    border-box;
   			-webkit-box-sizing: border-box;
    		box-sizing:        border-box;
    		border: 5px solid $yellow;
    		z-index: 10;*/

		}
		.load {
			position: absolute;
			bottom: 20px;
			right: 50px;
			overflow: hidden;
			background: #000;
			z-index: 1;
			span {
				font-family: 'valenciahairline', 'proxima-nova', sans-serif;
				font-size: 10em;
				color: rgba(255,255,255,.2);
				font-weight: 100;
				-webkit-transition: opacity .2s ease-out;
				-moz-transition: opacity .2s ease-out;
				-ms-transition: opacity .2s ease-out;
				-o-transition: opacity .2s ease-out;
				transition: opacity .2s ease-out;
			}
		}

	.mainFooter-links {
		.mainFooter--twitter {
			height: 17px;
			width: 21px;
			background: url('../img/sprite.png') left top no-repeat;
			background-size: 500px 500px;
			-webkit-transition: background 0.1s ease-out;
			-moz-transition: background 0.1s ease-out;
			-o-transition: background 0.1s ease-out;
			transition: background 0.1s ease-out;
			&:hover {
				background-position: left -17px;
			}
		}
		.mainFooter--linkedin {
			width: 19px;
			height: 18px;
			background: url('../img/sprite.png') left -36px no-repeat;
			background-size: 500px 500px;
			-webkit-transition: background 0.1s ease-out;
			-moz-transition: background 0.1s ease-out;
			-o-transition: background 0.1s ease-out;
			transition: background 0.1s ease-out;
			&:hover {
				background-position: left -54px;
			}
		}
	}

	.mainNav {
		ul.mainNav-menu {
			position: relative;
			margin: 0 auto;
			li {
				display: inline-block;
				margin-left: -2px;
				margin-right: -2px;
				a {
					text-align: center;
					padding: 15px 15px;
					font-size: 18px;
					font-weight: 100;
					color: rgba(255,255,255,.4);
					text-transform: uppercase;
					text-decoration: none;
					-webkit-transition: color .2s ease-in-out;
					-moz-transition: color .2s ease-in-out;
					-ms-transition: color .2s ease-in-out;
					-o-transition: color .2s ease-in-out;
					transition: color .2s ease-in-out;
					
					&:hover {
						color: rgba(255,255,255,1);
					}
				}
				.homeTitle-menu_jsHover { color: rgba(255,255,255,.2); }
				.homeTitle-menu_jsActive { color: rgba(255,255,255,0); }
			}
		}
	}
/* --------------------------------------------- */
	






/* ---------------- Home ---------------- */
	.home {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: url('../img/bg_home.jpg') no-repeat center center fixed #000; 
		  -webkit-background-size: cover;
		  -moz-background-size: cover;
		  -o-background-size: cover;
		  background-size: cover;

		.homeTitle {
			display: block;
			@include center-align;
			text-align: center;
			
			color: rgba(255,255,255,1);
			font-weight: 100;
			span {
				-webkit-transition: opacity .2s ease-in-out, color .2s ease-out;
				-moz-transition: opacity .2s ease-in-out, color .2s ease-out;
				-ms-transition: opacity .2s ease-in-out, color .2s ease-out;
				-o-transition: opacity .2s ease-in-out, color .2s ease-out;
				transition: opacity .2s ease-in-out, color .2s ease-out;
			}

			h1 {
				display: inline;
				margin: 0 10px;
				color: $yellow;
				& > span:first-of-type {
					margin-left: 10px;
				}
			}
			h1, h1 span {
				font-family: 'good_footregular', 'proxima-nova', sans-serif;
				font-size: 168px;
			}
			h2 {
				margin-left: 6px;
				letter-spacing: 4px;
				font-size: 18px;
				font-weight: 300;
				& > span:first-of-type {
					margin-left: 6px;
				}
				span {
					color: rgba(255,255,255,1);
					font-weight: 300;
					-webkit-transition: color .2s ease-out;
					-moz-transition: color .2s ease-out;
					-ms-transition: color .2s ease-out;
					-o-transition: color .2s ease-out;
					transition: color .2s ease-out;
				}
			}
			p {
				color: rgba(255,255,255,.4);
				font-size: 18px;
				letter-spacing: 2px;
				a {
					text-decoration: none;
					color: rgba(255,255,255,.8);
					-webkit-transition: color .2s ease-out;
					-moz-transition: color .2s ease-out;
					-ms-transition: color .2s ease-out;
					-o-transition: color .2s ease-out;
					transition: color .2s ease-out;
					&:hover { color: #fff; }
				}
			}
			& > p:first-of-type {
				margin-bottom: 30px;
				display: inline
			}
			& > p:last-of-type, h2 {
				display: inline;
			}
		}


		.home-btStartUx {
			position: absolute;
			top: 60%;
			left: 50%;
			-webkit-transform: translate(-50%, -50%);
			-ms-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);


			-webkit-transition: -webkit-transform .6s ease-out;
			-moz-transition: -moz-transform .6s ease-out;
			-ms-transition: -ms-transform .6s ease-out;
			-o-transition: -o-transform .6s ease-out;
			transition: transform .6s ease-out;
			
			/*padding: 15px 20px;*/
			/*border: 1px solid rgba(255,255,255,.2);*/

			width: 222px;
			height: 48px;
			overflow: hidden;

			a {
				display: block;
				text-decoration: none;
				color: rgba(255,255,255,1);
				text-align: center;
				text-transform: uppercase;
				letter-spacing: 3px;
				font-weight: 100;
				padding: 16px 10px;
				-webkit-transition: color .2s ease-out, border .2s ease-out;
				-moz-transition: color .2s ease-out, border .2s ease-out;
				-ms-transition: color .2s ease-out, border .2s ease-out;
				-o-transition: color .2s ease-out, border .2s ease-out;
				transition: color .2s ease-out, border .2s ease-out;
				z-index: 60;

				&:hover {
					color: #fff;
				}
				&:hover svg line {
					stroke: $yellow;
					-webkit-transition-delay: 0s;
					transition-delay: 0s;
				}

				&:hover svg line.home-btStartUx--top { @include transform(translateX(-222px)); }
				&:hover svg line.home-btStartUx--right { @include transform(translateY(-48px)); }
				&:hover svg line.home-btStartUx--bottom { @include transform(translateX(222px)); }
				&:hover svg line.home-btStartUx--left { @include transform(translateY(48px)); }

				/*&:hover svg line.home-btStartUx--top { @include transform(translateX(-232px)); }
				&:hover svg line.home-btStartUx--right { @include transform(translateY(-58px)); }
				&:hover svg line.home-btStartUx--bottom { @include transform(translateX(232px)); }
				&:hover svg line.home-btStartUx--left { @include transform(translateY(58px)); }*/

				/*&:hover svg line.home-btStartUx--top2 { @include transform(translateX(10px)); }
				&:hover svg line.home-btStartUx--right2 { @include transform(translateY(10px)); }
				&:hover svg line.home-btStartUx--bottom2 { @include transform(translateX(-10px)); }
				&:hover svg line.home-btStartUx--left2 { @include transform(translateY(-10px)); }
*/
				svg {
					position: absolute;
					top: 0;
					left: 0;

					line {
						stroke-width: 2;
						/*stroke: rgba(255,255,255,.4);*/
						stroke: $yellow;
						fill: none;
						
						-webkit-transition: -webkit-transform .2s ease-out, stroke .6s ease-out;
						-moz-transition: -moz-transform .2s ease-out, stroke .6s ease-out;
						-ms-transition: -ms-transform .2s ease-out, stroke .6s ease-out;
						-o-transition: -o-transform .2s ease-out, stroke .6s ease-out;
						transition: transform .2s ease-out, stroke .6s ease-out;
					}
					line.home-btStartUx--top, line.home-btStartUx--bottom { stroke-dasharray: 232 202 232; }
					line.home-btStartUx--right, line.home-btStartUx--left { stroke-dasharray: 58 28 58; }	
				}
			}
		}


		svg {
		   
		}

		.triskel {
			fill: none;
			stroke-width: 2;
			stroke: #f4fd14;
			stroke-dasharray: 100;
			stroke-dashoffset: 0;
			animation: dash 5s linear;
		}

		@keyframes dash {
		  to {
		    stroke-dashoffset: 1000;
		  }
		}




		.homeMenu {
			position: absolute;
			margin: auto;
			top: auto;
			right: 0;
			bottom: 120px;
			left: 0;
			width: 306px;

			z-index: 15;
			li {
				display: inline-block;
				margin-left: -2px;
				margin-right: -2px;
				a {
					padding: 15px 15px;
					font-size: 18px;
					color: rgba(255,255,255,.4);
					letter-spacing: 1px;
					text-transform: uppercase;
					text-decoration: none;
					font-weight: 100;
					-webkit-transition: color .2s ease-out;
					-moz-transition: color .2s ease-out;
					-ms-transition: color .2s ease-out;
					-o-transition: color .2s ease-out;
					transition: color .2s ease-out;
					&:hover {
						color: rgba(255,255,255,1);
					}
				}
				.homeMenu_jsHover { color: rgba(255,255,255,.2); }
				.homeMenu_jsActive { color: rgba(255,255,255,0); }
			}
		}
		.homeFooter {
			position: absolute;
			margin: auto;
			top: auto;
			right: 0;
			bottom: 50px;
			left: 0;
			ul.mainFooter-links {
				text-align: center;
				li {
					display: inline;
					a {
						display: inline-block;
						margin: 0 10px;
					}
				}
			}
		}
	}

/* -------------------------------------- */












/* ---------------- Projets ---------------- */
	.works {
		h1 {
			text-align: center;
			color: #fff;
			font-size: 10em;
			margin-top: 200px;
		}

	}
/* ----------------------------------------- */




















