/* #f4fd14 */
@font-face {
  font-family: 'good_footregular';
  src: url("../fonts/goodfoot_regular_macroman/goodfoot-webfont.eot");
  src: url("../fonts/goodfoot_regular_macroman/goodfoot-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/goodfoot_regular_macroman/goodfoot-webfont.woff") format("woff"), url("../fonts/goodfoot_regular_macroman/goodfoot-webfont.ttf") format("truetype"), url("../fonts/goodfoot_regular_macroman/goodfoot-webfont.svg#good_footregular") format("svg");
  font-weight: normal;
  font-style: normal; }

body {
  font-size: 100%;
  background: #000;
  font-family: "brandon-grotesque", sans-serif;
  font-weight: 300; }

/* ---------------- System CSS ---------------- */
::-moz-selection {
  color: #fff;
  background: rgba(244, 253, 20, 0.6); }

::selection {
  color: #fff;
  background: rgba(244, 253, 20, 0.6); }

section {
  width: 100%;
  height: 100%;
  z-index: 9; }

section > div {
  z-index: 12; }

.opacity {
  opacity: 1; }

.background {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.7);
  			/*-moz-box-sizing:    border-box;
     			-webkit-box-sizing: border-box;
      		box-sizing:        border-box;
      		border: 5px solid $yellow;
      		z-index: 10;*/ }

.load {
  position: absolute;
  bottom: 20px;
  right: 50px;
  overflow: hidden;
  background: #000;
  z-index: 1; }
  .load span {
    font-family: 'valenciahairline', 'proxima-nova', sans-serif;
    font-size: 10em;
    color: rgba(255, 255, 255, 0.2);
    font-weight: 100;
    -webkit-transition: opacity .2s ease-out;
    -moz-transition: opacity .2s ease-out;
    -ms-transition: opacity .2s ease-out;
    -o-transition: opacity .2s ease-out;
    transition: opacity .2s ease-out; }

.logo {
  display: none;
  position: absolute;
  top: 50px;
  left: 50px;
  z-index: 5000;
  font-family: "brandon-grotesque", sans-serif;
  font-weight: 300;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.8);
  text-transform: uppercase;
  letter-spacing: 2px; }
  .logo span {
    margin-bottom: 5px;
    display: block;
    font-family: "good_footregular", sans-serif;
    font-size: 40px;
    color: #f4fd14;
    letter-spacing: 1px;
    word-spacing: -7px;
    text-transform: initial; }

.bt-menuOverlay {
  position: absolute;
  margin: auto;
  top: auto;
  right: 0;
  bottom: 120px;
  left: 0;
  width: 52px;
  cursor: pointer;
  padding: 10px;
  border: 2px solid rgba(255, 255, 255, 0.4);
  -webkit-transition: color 0.2s ease-out, border 0.2s ease-out;
  -moz-transition: color 0.2s ease-out, border 0.2s ease-out;
  transition: color 0.2s ease-out, border 0.2s ease-out;
  color: rgba(255, 255, 255, 0.8);
  letter-spacing: 1px;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 300;
  z-index: 10; }
  .bt-menuOverlay:hover {
    color: white;
    border: 2px solid rgba(255, 255, 255, 0.8); }

/*	.menuOverlay-externalLinks {
		position: absolute;
		margin: auto;
		top: auto;
		right: 0;
		bottom: 50px;
		left: 0;
		
		text-align: center;
		li {
			display: inline;
			a {
				display: inline-block;
				margin: 0 10px;
			}
		}
	}
*/
.menuOverlay-externalLinks .menuOverlay--twitter {
  height: 17px;
  width: 21px;
  background: url("../img/sprite.png") left top no-repeat;
  background-size: 500px 500px;
  -webkit-transition: background 0.1s ease-out;
  -moz-transition: background 0.1s ease-out;
  -o-transition: background 0.1s ease-out;
  transition: background 0.1s ease-out; }
  .menuOverlay-externalLinks .menuOverlay--twitter:hover {
    background-position: left -17px; }
.menuOverlay-externalLinks .menuOverlay--linkedin {
  width: 19px;
  height: 18px;
  background: url("../img/sprite.png") left -36px no-repeat;
  background-size: 500px 500px;
  -webkit-transition: background 0.1s ease-out;
  -moz-transition: background 0.1s ease-out;
  -o-transition: background 0.1s ease-out;
  transition: background 0.1s ease-out; }
  .menuOverlay-externalLinks .menuOverlay--linkedin:hover {
    background-position: left -54px; }

/*
	.mainNav {
		ul.mainNav-menu {
			position: relative;
			margin: 0 auto;
			li {
				display: inline-block;
				margin-left: -2px;
				margin-right: -2px;
				a {
					text-align: center;
					padding: 15px 15px;
					font-size: 18px;
					font-weight: 100;
					color: rgba(255,255,255,.4);
					text-transform: uppercase;
					text-decoration: none;
					-webkit-transition: color .2s ease-in-out;
					-moz-transition: color .2s ease-in-out;
					-ms-transition: color .2s ease-in-out;
					-o-transition: color .2s ease-in-out;
					transition: color .2s ease-in-out;
					
					&:hover {
						color: rgba(255,255,255,1);
					}
				}
				.homeTitle-menu_jsHover { color: rgba(255,255,255,.2); }
				.homeTitle-menu_jsActive { color: rgba(255,255,255,0); }
			}
		}
	}*/
.home-bgVideo {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 5;
  background: url("../img/bg_home.jpg") no-repeat;
  background-size: cover; }

/* --------------------------------------------- */
/* ---------------- Home ---------------- */
.home {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../img/bg_home.jpg") no-repeat center center fixed black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  .home .homeTitle {
    display: block;
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-weight: 100;
    /*h1 {
    	display: inline;
    	margin: 0 10px;
    	color: $yellow;
    	& > span:first-of-type {
    		margin-left: 10px;
    	}
    }
    h1, h1 span {
    	font-family: $font-goodFoot;
    	font-size: 168px;
    }*/ }
    .home .homeTitle span {
      -webkit-transition: opacity 0.2s ease-in-out, color .2s ease-out;
      -moz-transition: opacity 0.2s ease-in-out, color .2s ease-out;
      -ms-transition: opacity 0.2s ease-in-out, color .2s ease-out;
      -o-transition: opacity 0.2s ease-in-out, color .2s ease-out;
      transition: opacity 0.2s ease-in-out, color .2s ease-out; }
    .home .homeTitle svg {
      display: inline-block;
      fill: rgba(0, 0, 0, 0);
      stroke-width: 1;
      stroke: #f4fd14;
      overflow: hidden;
      -webkit-transition: transform 0.2s ease-out;
      -moz-transition: transform 0.2s ease-out;
      transition: transform 0.2s ease-out;
      transform-origin: center center;
      margin: 0 -5px -16px 5px; }
    .home .homeTitle .alexis {
      fill: rgba(0, 0, 0, 0);
      stroke-width: 1;
      stroke: #f4fd14;
      -webkit-transition: fill 0.6s ease-out;
      -moz-transition: fill 0.6s ease-out;
      transition: fill 0.6s ease-out; }
    .home .homeTitle h2 {
      margin-left: 6px;
      letter-spacing: 2px;
      font-size: 21px;
      font-weight: 100; }
      .home .homeTitle h2 > span:first-of-type {
        margin-left: 6px; }
      .home .homeTitle h2 span {
        color: white;
        font-weight: 100;
        -webkit-transition: color 0.2s ease-out;
        -moz-transition: color 0.2s ease-out;
        -ms-transition: color 0.2s ease-out;
        -o-transition: color 0.2s ease-out;
        transition: color 0.2s ease-out; }
    .home .homeTitle p {
      color: rgba(255, 255, 255, 0.3);
      font-size: 21px;
      letter-spacing: 2px;
      font-weight: 100; }
      .home .homeTitle p a {
        text-decoration: none;
        color: rgba(255, 255, 255, 0.8);
        -webkit-transition: color 0.2s ease-out;
        -moz-transition: color 0.2s ease-out;
        -ms-transition: color 0.2s ease-out;
        -o-transition: color 0.2s ease-out;
        transition: color 0.2s ease-out; }
        .home .homeTitle p a:hover {
          color: #fff; }
    .home .homeTitle > p:first-of-type {
      margin-bottom: 30px;
      display: inline; }
    .home .homeTitle > p:last-of-type, .home .homeTitle h2 {
      display: inline; }
  .home .menuOverlay {
    display: none;
    position: relative;
    width: 100%; }
    .home .menuOverlay .menuOverlay-mainMenu {
      display: table;
      table-layout: fixed;
      /*position: absolute;*/
      text-align: center;
      vertical-align: middle;
      margin: 0 auto;
      overflow: hidden; }
      .home .menuOverlay .menuOverlay-mainMenu > li {
        display: table-cell;
        height: 250px;
        width: 300px;
        /*border-right: 1px solid rgba(255,255,255,.2);*/
        /*border-bottom: 1px solid rgba(255,255,255,.2);*/
        float: left; }
        .home .menuOverlay .menuOverlay-mainMenu > li > a, .home .menuOverlay .menuOverlay-mainMenu > li .menuOverlay-subMenu {
          /*display: table;*/
          /*padding: 15px 15px;*/
          font-size: 18px;
          color: rgba(255, 255, 255, 0.4);
          letter-spacing: 1px;
          text-decoration: none;
          font-weight: 100;
          /*border-right: 1px solid rgba(244,253,20,.8);
          border-bottom: 1px solid rgba(244,253,20,.8);*/
          -webkit-transition: color 0.2s ease-out, background 0.2s ease-out;
          -moz-transition: color 0.2s ease-out, background 0.2s ease-out;
          transition: color 0.2s ease-out, background 0.2s ease-out; }
          .home .menuOverlay .menuOverlay-mainMenu > li > a:hover, .home .menuOverlay .menuOverlay-mainMenu > li .menuOverlay-subMenu:hover {
            color: white; }
          .home .menuOverlay .menuOverlay-mainMenu > li > a .menuOverlay--menuContent, .home .menuOverlay .menuOverlay-mainMenu > li .menuOverlay-subMenu .menuOverlay--menuContent {
            /*display: table-cell;*/
            text-align: center;
            vertical-align: middle; }
            .home .menuOverlay .menuOverlay-mainMenu > li > a .menuOverlay--menuContent h3, .home .menuOverlay .menuOverlay-mainMenu > li .menuOverlay-subMenu .menuOverlay--menuContent h3 {
              margin: 50px 50px 20px 50px;
              font-size: 24px;
              display: block;
              color: #f4fd14;
              font-family: "good_footregular", sans-serif;
              padding-bottom: 20px;
              border-bottom: 1px solid rgba(255, 255, 255, 0.1); }
            .home .menuOverlay .menuOverlay-mainMenu > li > a .menuOverlay--menuContent p, .home .menuOverlay .menuOverlay-mainMenu > li .menuOverlay-subMenu .menuOverlay--menuContent p {
              margin: 0 50px 50px 50px;
              display: block;
              font-family: "brandon-grotesque", sans-serif;
              font-size: 16px;
              line-height: 24px;
              font-weight: 100;
              color: rgba(255, 255, 255, 0.8); }
        .home .menuOverlay .menuOverlay-mainMenu > li .menuOverlay-subMenu {
          border-bottom: none; }
        .home .menuOverlay .menuOverlay-mainMenu > li .mainMenu_jsHover {
          color: rgba(255, 255, 255, 0.2); }
        .home .menuOverlay .menuOverlay-mainMenu > li .mainMenu_jsActive {
          color: rgba(255, 255, 255, 0); }
  .home .home-btStartUx {
    position: absolute;
    top: 60%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: -webkit-transform .6s ease-out;
    -moz-transition: -moz-transform .6s ease-out;
    -ms-transition: -ms-transform .6s ease-out;
    -o-transition: -o-transform .6s ease-out;
    transition: transform .6s ease-out;
    /*border: 1px solid rgba(255,255,255,1);*/
    width: 245px;
    height: 52px; }
    .home .home-btStartUx a {
      display: block;
      text-decoration: none;
      color: white;
      text-align: center;
      letter-spacing: 3px;
      text-transform: uppercase;
      font-weight: 100;
      font-size: 18px;
      padding: 17px 20px;
      -webkit-transition: color .2s ease-out, border .2s ease-out;
      -moz-transition: color .2s ease-out, border .2s ease-out;
      -ms-transition: color .2s ease-out, border .2s ease-out;
      -o-transition: color .2s ease-out, border .2s ease-out;
      transition: color .2s ease-out, border .2s ease-out;
      z-index: 60;
      /*&:hover svg line.home-btStartUx--top { @include transform(translateX(-232px)); }
      &:hover svg line.home-btStartUx--right { @include transform(translateY(-58px)); }
      &:hover svg line.home-btStartUx--bottom { @include transform(translateX(232px)); }
      &:hover svg line.home-btStartUx--left { @include transform(translateY(58px)); }*/
      				/*&:hover svg line.home-btStartUx--top2 { @include transform(translateX(10px)); }
      				&:hover svg line.home-btStartUx--right2 { @include transform(translateY(10px)); }
      				&:hover svg line.home-btStartUx--bottom2 { @include transform(translateX(-10px)); }
      				&:hover svg line.home-btStartUx--left2 { @include transform(translateY(-10px)); }
      */ }
      .home .home-btStartUx a:hover {
        color: #fff; }
      .home .home-btStartUx a:hover svg line {
        stroke: #f4fd14;
        -webkit-transition-delay: 0s;
        transition-delay: 0s; }
      .home .home-btStartUx a:hover svg line.home-btStartUx--top {
        -webkit-transform: translateX(-245px);
        -moz-transform: translateX(-245px);
        -ms-transform: translateX(-245px);
        -o-transform: translateX(-245px);
        transform: translateX(-245px); }
      .home .home-btStartUx a:hover svg line.home-btStartUx--right {
        -webkit-transform: translateY(-52px);
        -moz-transform: translateY(-52px);
        -ms-transform: translateY(-52px);
        -o-transform: translateY(-52px);
        transform: translateY(-52px); }
      .home .home-btStartUx a:hover svg line.home-btStartUx--bottom {
        -webkit-transform: translateX(245px);
        -moz-transform: translateX(245px);
        -ms-transform: translateX(245px);
        -o-transform: translateX(245px);
        transform: translateX(245px); }
      .home .home-btStartUx a:hover svg line.home-btStartUx--left {
        -webkit-transform: translateY(52px);
        -moz-transform: translateY(52px);
        -ms-transform: translateY(52px);
        -o-transform: translateY(52px);
        transform: translateY(52px); }
      .home .home-btStartUx a svg {
        position: absolute;
        top: 0;
        left: 0; }
        .home .home-btStartUx a svg line {
          stroke-width: 2;
          /*stroke: rgba(255,255,255,.4);*/
          stroke: #f4fd14;
          fill: none;
          -webkit-transition: -webkit-transform .2s ease-out, stroke .6s ease-out;
          -moz-transition: -moz-transform .2s ease-out, stroke .6s ease-out;
          -ms-transition: -ms-transform .2s ease-out, stroke .6s ease-out;
          -o-transition: -o-transform .2s ease-out, stroke .6s ease-out;
          transition: transform .2s ease-out, stroke .6s ease-out; }
        .home .home-btStartUx a svg line.home-btStartUx--top, .home .home-btStartUx a svg line.home-btStartUx--bottom {
          stroke-dasharray: 255 225 255; }
        .home .home-btStartUx a svg line.home-btStartUx--right, .home .home-btStartUx a svg line.home-btStartUx--left {
          stroke-dasharray: 62 32 62; }

/* -------------------------------------- */
/* ---------------- Projets ---------------- */
.works h1 {
  text-align: center;
  color: #fff;
  font-size: 10em;
  margin-top: 200px; }

/* ----------------------------------------- */
@keyframes dash {
  0% {
    stroke-dashoffset: 1000; }

  100% {
    stroke-dashoffset: 0; } }

@keyframes dashBack {
  0% {
    stroke-dashoffset: 0; }

  100% {
    stroke-dashoffset: 1000; } }
