@import "../css/bourbon/bourbon";

@mixin center-align {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

$font-brandon: "brandon-grotesque", sans-serif;
$font-goodFoot: "good_footregular", sans-serif;

$yellow: #F4FD14; 
$redOpa: rgba(231, 76, 60, 1);
$greenOpa: rgba(46, 204, 113, 1);
$blueOpa: rgba(52, 152, 219, 1);

$violetOpa: rgba(155, 89, 182, .4);
$orangeOpa: rgba(230, 126, 34, .4);
$lowBorder: 1px solid rgba(255,255,225,.1);

$menuBackground: rgba(0,0,0,.4);


$home-fontWeight: 300; 
$sectionZindex: 9;
$menuZindex: 10000;

@font-face {
    font-family: 'good_footregular';
    src: url('../fonts/goodfoot_regular_macroman/goodfoot-webfont.eot');
    src: url('../fonts/goodfoot_regular_macroman/goodfoot-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/goodfoot_regular_macroman/goodfoot-webfont.woff') format('woff'),
         url('../fonts/goodfoot_regular_macroman/goodfoot-webfont.ttf') format('truetype'),
         url('../fonts/goodfoot_regular_macroman/goodfoot-webfont.svg#good_footregular') format('svg');
    font-weight: normal;
    font-style: normal;

}