@import "_var.scss";


.background.overlay-open {
	animation: animLoadedLoader 0.5s cubic-bezier(0.7,0,0.3,1) forwards;
}

@keyframes animLoadedLoader {
    to { 
        opacity: 0; 
        transform: translate3d(0,100%,0); 
    }
}




.menuOverlay-logo {
	
	position: absolute;
	top: 50px;
	left: 50px;
	z-index: 5000;

	font-family: $font-brandon;
	font-weight: 300;
	font-size: 12px;
	color: rgba(255,255,255,.8);
	text-transform: uppercase;
	letter-spacing: 2px;


	span {
		margin-bottom: 5px;
		display: block;
		font-family: $font-goodFoot;
		font-size: 40px;
		color: $yellow;
		letter-spacing: 1px;
		word-spacing: -7px;
		text-transform: initial;
	}
}



.menuOverlay {
	display: block;
	position: fixed;
	/*background: rgba(0,0,0,.6);*/

	top: 0;
	left: 0;
	height: 100%;
	width: 100%;

	z-index: 50;
	




	.menuOverlay-mainMenu {
		display: table;
		/*table-layout: fixed;*/
		/*position: absolute;*/
		position: relative;
		text-align: center;
		/*top: 50%;
		@include transform(translateY(-50%));*/
		width: 100%;
		height: 65%;
		@include transition(height .2s ease-in-out);

		& > li {
			display: table-cell;
			width: 33%;
			overflow: hidden;
			@include transition(all .2s ease-in-out);
			border-right: 1px solid rgba(255,255,255,.1);
			border-bottom: 1px solid rgba(255,255,225,.1); 

			&:first-child { width: 34%; }

			& > a {
				display: block;
				height: 100%;
				color: rgba(255,255,255,.4);
				letter-spacing: 1px;
				
				text-decoration: none;
				font-weight: 100;
				


				/*border-right: 1px solid rgba(244,253,20,.8);
				border-bottom: 1px solid rgba(244,253,20,.8);*/
				
				@include transition(all .2s ease-out);


				&:hover {
					color: rgba(255,255,255,1);
				}

				.menuOverlay--menuContent {
					/*display: table-cell;*/
					text-align:center;
					position: relative;
					top: 50%;
					@include transform(translateY(-50%));

					h3 {
						font-size: 24px;
						text-transform: uppercase;
						letter-spacing: 2px;
						display: block;
						color: $yellow;
						font-family: $font-brandon;
						
						padding-bottom: 0px;
						margin: 0 auto 0px auto;
						width: 100%;
						border-bottom: 1px solid rgba(255,255,255,0);

						@include transition-property(all);
						@include transition-duration(.2s);
						@include transition-timing-function(ease-out);
						/*@include transition(all .2s step-st);*/

					}
					
					p {
						display: block;
						opacity: 0;

						width: 80%;
						max-width: 350px;
						margin: 0 auto;
						
						font-family: $font-brandon;
						font-size: 18px;
						line-height: 30px;
						font-weight: 100;
						color: rgba(255,255,255,.8);

						@include transition-property(all);
						@include transition-duration(.2s);
						@include transition-timing-function(ease-out);
						
						/*@include transition(all .2s ease-out);*/
					}

				}
			}
			.menuOverlay-subMenu {
				border-bottom: none;
			}

			.mainMenu_jsHover { color: rgba(255,255,255,.2); }
			.mainMenu_jsActive { color: rgba(255,255,255,0); }
		}

		/* ----- li Hover ----- */
		li.menuOverlay-mainMenu--selected {
			&:nth-child(1) a { background: $redOpa !important; }
			&:nth-child(2) a { background: $greenOpa !important; }
			&:nth-child(3) a { background: $blueOpa !important; }

			width: 40% !important;
			a {
				background: rgba(241, 196, 15,.2); /* Fallback */
				h3 {
					padding-bottom: 31px !important;
					border-bottom: 1px solid rgba(255,255,255,.1) !important;
					width: 80% !important;
					@include transition-delay(.2s);
				}
				p {
					@include transition-delay(.2s);
					margin-top: 29px !important;
					opacity: 1 !important;
				}
			}
		}
		li.menuOverlay-mainMenu--notSelected { 
			width: 30% !important;
			border-right: 0;
			border-bottom: 0;
			a {
				h3 {
					opacity: .2;
				}
			}
		}
		/* ----------------- */
	}


	/* ----- ul Hover ----- */
	ul.menuOverlay-mainMenu--selected {
		height: 70%;
	}
	ul.menuOverlay-mainMenu--notSelected {
		height: 30%;
	}
	/* -------------------- */





	.menuOverlay-externalLinks {
		.menuOverlay--twitter {
			height: 17px;
			width: 21px;
			background: url('../img/sprite.png') left top no-repeat;
			background-size: 500px 500px;
			-webkit-transition: background 0.1s ease-out;
			-moz-transition: background 0.1s ease-out;
			-o-transition: background 0.1s ease-out;
			transition: background 0.1s ease-out;
			&:hover {
				background-position: left -17px;
			}
		}
		.menuOverlay--linkedin {
			width: 19px;
			height: 18px;
			background: url('../img/sprite.png') left -36px no-repeat;
			background-size: 500px 500px;
			-webkit-transition: background 0.1s ease-out;
			-moz-transition: background 0.1s ease-out;
			-o-transition: background 0.1s ease-out;
			transition: background 0.1s ease-out;
			&:hover {
				background-position: left -54px;
			}
		}
	}


	.close {
		display: block;
		position: absolute;
		cursor: pointer; 
		top: 20px;
		right: 20px;
		font-size: 18px;
		font-weight: 500;
		color: rgba(255,255,255,.8);
		padding: 10px 15px;
		border: 1px solid rgba(255,255,255,.6);
		background: rgba(255,255,255,0);
		@include transition(color .2s ease-out, border .2s ease-out, background .2s ease-out);

		&:hover{
			border: 1px solid rgba(255,255,255,1);
			background: rgba(255,255,255,1);
			color: rgba(0,0,0,1);
		}
	}
}







