@import "_var.scss";
/* ---------------- Works ---------------- */

	$articleHeight: 400px;
	$articleWidth: 500px; 

	.works {
		.works-list {
			overflow: hidden;
			width: ($articleWidth * 3)+(40*2);
			margin: auto;

			article {
				width: $articleWidth;
				display: block;
				height: $articleHeight;
				margin: 0 20px 40px 20px;
				overflow: hidden;
				float: left;
				@include transition(all .2s ease-out);

				&:nth-child(3n){ margin-right: 0; }
				&:nth-child(3n+1), &:first-child { margin-left: 0; }


				a {
					display: block;
					width: 100%;
					height: 100%;
					text-align: center;
					text-decoration: none;
					@include transition(all .2s ease-out);

					/* ----- Hover ----- */
						&:hover {
							.work--header {
								opacity: 1;
								.work---headerContent h3 {
									@include transform(translateY(50%));
									@include transition(all .2s ease-out);
								}
								.work---headerContent p {
									@include transition-delay(.2s);
									@include transform(translateY(0px));
									opacity: 1;
								}
							}
							.work--background { opacity: .2; }

						}


					/* ----------------- */


					.work--header {
						position: absolute;
						width: $articleWidth;
						height: $articleHeight;
						line-height: 310px;
						@include transition(all .2s ease-out);
						z-index: 2;
						/*@include box-sizing(border-box);*/
						/*border: 0px solid rgba(255,255,255,0);*/
						opacity: 0;

						.work---headerContent {
							vertical-align: middle;
							line-height: normal;
							display: inline-block;
							h3 {
								font-family: $font-streetBrush;
								font-size: 72px;
								color: #F4FD14;
								letter-spacing: 2px;
								display: block;
								@include transform(translateY(45%));
								@include transition(all .2s ease-out);
							}
							h3.bigW { font-size: 36px; }
							p {
								display: block;
								color: #fff;
								font-family: "brandon-grotesque",sans-serif;
								font-size: 16px;
								text-transform: uppercase;
								letter-spacing: 11px;
								font-weight: 400;
								text-align: center;
								margin: 45px auto 0 auto;
								@include transform(translateY(10px));
								@include transition(all .2s ease-out);
								opacity: 0;
							}
						}
					}
					.work--details {
						@include transition(all .2s ease-out);
						/*opacity: 0;*/
						/*opacity: 1;*/
						position: absolute;
						font-family: $font-brandon;
						font-size: 18px;
						line-height: 27px;
						color: #fff;
						text-transform: uppercase;
						font-weight: 700;
						letter-spacing: 2px;
						z-index: 1;
						margin-top: 367px;
						padding: 3px 10px 3px 10px;
					}
					.work--background {
						position: absolute;
						width: $articleWidth;
						height: $articleHeight;
						@include transition(all .2s ease-out);
						/*z-index: 1;*/
						opacity: 1;
						overflow: hidden;
						box-shadow: none;
						/*opacity: .4;*/
					}
				}

				a.workClass-code .work--details { background: #3498db; }				
				a.workClass-codeDesign .work--details { background: #e74c3c; }
				a.workClass-dataviz .work--details { background: #2ecc71; }

				/*a.workClass-code .work--details,
				a.workClass-codeDesign .work--details,
				a.workClass-dataviz .work--details { background: #000; }*/

				a.workClass-code,
				a.workClass-codeDesign,
				a.workClass-dataviz { background: #000; }
			}
		}
	}

	.works-content {
		display: none;
		opacity: 0;

		.works-nav {
			display: none;
			opacity: 0;
			@include transform(translateY(-20px));
			@include transition(all .2s ease-out);

			position: absolute;
			top: 0;
			height: 45px;
			width: 97%;
			width: calc(97% - 45px);
			margin-top: 10px;
			padding: 0 0 0 3%;
			z-index: 15;
			overflow: hidden;

			&:hover {
				h3 a, .bt-menu {
					opacity: 1 !important;
					background: rgba(0,0,0,0.8);
				}
				.works--arrow { 
					opacity: 1;
					a { background: rgba(0,0,0,0.8); }
				}
			}


			h3 a {
				display: block;
				position: fixed;
				text-decoration: none;
				font-family: $font-brandon;
				text-transform: uppercase;
				color: $yellow;
				border: 1px solid $yellow;
				background: rgba(0,0,0,0.2);
				padding: 14px 11px 13px 10px;
				font-size: 16px;
				letter-spacing: 2px;
				cursor: pointer;
				opacity: 0.2;
				@include transition(all .2s ease-out);
				&:hover {
					background: $yellow;
					color: #000;
				}
			}

	

			.works--arrow {
				float: right;
				height: 45px;
				opacity: 0.2;
				@include transition(opacity .2s ease-out);
				a {
					display: inline-block;
					border: 1px solid $yellow;
					background: rgba(0,0,0,0);
					text-decoration: none;
					overflow: hidden;
					@include transition(all .2s ease-out);

					span.works---iconWrap {
						@include transition(all .2s ease-out);
						svg {
							fill: $yellow;
							width: 20px;
							height: 20px;
						}
					}
					h5 {
						display: none;
						color: rgba(255,255,255,1);
						text-transform: uppercase;
						white-space: nowrap;
						letter-spacing: 4px;
						font-weight: 300;
						font-size: 16px;
						opacity: 1;
						@include transition(opacity .2s ease-out, transform .2s ease-out);
					}

					&.works---close {
						width: 100px;
						color: #fff;
						padding: 14px 0px 13px 0px;
						text-align: center;
						font-weight: 300;
						span {
							@include transition(all .2s ease-out);
						}
						#works---count, #works---length {
							opacity: 1;
							margin: 5px;
						}
							#works---length { margin-left: 0; }
							#works---count:after {
								content: "/";
								margin-left: 5px;
							}

						#works---iconClose {
							position: absolute;
							opacity: 0;
							display: block;
							margin: -20px 0 0 38px;
							svg {
								fill: #000;
								width: 25px;
								height: 25px;
							}
						}
					}
					&.works---arrowPrev { padding: 11px 12px 9px 10px; }
					&.works---arrowNext { padding: 11px 10px 9px 12px; }
				}
				a:hover, .works--arrowHover {
					border: 1px solid $yellow;
					background: $yellow;
					span svg { fill: #000; }
				}
				a:hover {
					#works---count, #works---length { opacity: 0 }
					#works---iconClose {
						opacity: 1;
					}
				}

				.svgFillBlack { fill: #000 !important; }
			}
		}





		.works--description {
			width: 100%;
			height: 100%;
			position: fixed;
			overflow-y: scroll;

			.works---descHeader {
				text-align: center;
				h4 {
					margin: 200px auto 32px auto;
					font-family: $font-streetBrush;
					font-size: 80px;
					word-spacing: -10px;
					letter-spacing: 2px;
					line-height: 80px;
					color: $yellow;
				}
				h5 {
					color: rgba(255,255,255,1);
					text-transform: uppercase;
					font-family: $font-brandon;
					font-weight: 500;
					font-size: 16px;
					line-height: 28px;
					letter-spacing: 10px;
					display: block;
					margin: 0 auto;
					span:before {
						content: "|";
						margin-right: 5px;
					}
				}
			}

			.works---descContent {
				margin: 100px auto;
				p {
					margin: 0 auto 36px auto !important;
				}
			}

			.works---extLink {
				position: relative;
				margin: 0px auto 100px auto;
				display: inline-block;
				max-width: 60%;
				text-decoration: none;
				left: 50%;
				@include transform(translateX(-50%));
				padding: 15px 18px 15px 23px;
				text-align: center;
				letter-spacing: 6px;
				text-transform: uppercase;
				font-weight: 700;
				color: #fff;
				font-size: 18px;
				line-height: 27px;
				font-family: $font-brandon;
				border: 2px solid rgba(255,255,255,1);
				@include transition(all .2s ease-out);

				&:after {
					content: '- External Link -';
					display: block;
					color: $yellow;
					position: absolute;
					margin: 30px auto 0 auto;
					left: 0px;
					right: 0;
					font-size: 18px;
					text-transform: none;
					letter-spacing: 2px;
					font-weight: 500;
					opacity: 0;
					@include transform(translateY(10px));
					@include transition(all .2s ease-out);
				}

				&:hover {
					background: #fff;
					color: #000;
					&:after {
						opacity: 1;
						@include transform(translateY(0px));
					}
				}

				
			}
		}
		





		.works--description {
			display: none;
			opacity: 0;
			/*@include transition(opacity .4s ease-out);*/
		}









	}
/* --------------------------------------- */


/*
@media only screen and (max-width : 2000px){
	.works .works-list article,
	.works .works-list article a .work--header,
	.works .works-list article a .work--background {
		width: 75%;
	}
}
	*/

@media only screen and (max-width : 1600px){
	.works-list {
		width: (360px * 3)+(40*2) !important;
		article {
			width: 360px !important;
			height: 280px !important;
			a {
				.work--header {
					width: 360px !important;
					height: 280px !important;
					line-height: 217px !important;
					.work---headerContent {
						h3 {
							font-size: 48px !important;
							letter-spacing: 2px !important;
							@include transform(translateY(45%));
						}
						h3.bigW { font-size: 24px !important; }
						p {
							font-size: 14px !important;							
							letter-spacing: 6px !important;
							margin: 25px auto 0 auto !important;
							@include transform(translateY(10px));
						}
					}
				}
				.work--details {
					font-size: 12px !important;
					line-height: 18px !important;
					letter-spacing: 2px !important;
					margin-top: 256px !important;
				}
				.work--background {
					width: 360px !important;
					height: 280px !important;
				}
			}
		}
	}

	.works .works-content h3 a { 
		font-size: 18px !important;
	}
}

@media only screen and (min-width: 801px) and (max-width: 1200px){
	.works .works-list {
		width: (360px * 2) + 40 !important;
		article {
			&:nth-child(3n){ margin-right: 20px; }
			&:nth-child(3n+1), &:first-child { margin-left: 20px; }

			&:nth-child(2n){ margin-right: 0px !important; }
			&:nth-child(2n+1), &:first-child { margin-left: 0px !important; }		
		}
	}
	.works {
		h4 {
			margin: 200px auto 16px auto !important;
			font-size: 64px !important;
		}
		h5 span {
			display: block;
			&:before { display: none; }
		}
	}
}
@media only screen and (max-width: 800px){
	.works-list { width: 90% !important; }
	.works-list article,
	.works-list article a .work--header,
	.works-list article a .work--background { width: 100% !important; }
	.works-list article,
	.works-list article:nth-child(3n),
	.works-list article:nth-child(3n+1),
	.works-list article:nth-child(2n),
	.works-list article:nth-child(2n+1) {
		margin-right: 0 !important;
		margin-left: 0 !important;
	}

	.works-content .works--description .works---descHeader {
		width: 90%;
		margin: 0 auto;
		h4 {
			margin: 100px auto 16px auto;
			font-size: 48px;
			line-height: 56px;
		}
		h5 {
			font-size: 14px;
			letter-spacing: 6px;
			line-height: 28px;
			span {
				display: block;
				&:before { display: none; }
			}
		}
	}
	.works-nav {
		top: auto !important;
		bottom: 0 !important;
		padding: 0 !important;
		width: 105px !important;

		h3,
		.works--arrow .works---arrowPrev,
		.works--arrow .works---arrowNext { display: none !important; }
		.works--arrow {
			float: none !important;
			margin-right: 0 !important;
			opacity: 1 !important;
			a { background: rgba(0,0,0,.8) !important; }
			.works---close { margin-left: 3%; }
			&:hover, &:active {
				a { background: $yellow !important; }
				a .works---close {
					color: #000 !important;
					font-weight: 500 !important;
				}
			}
		}
	}
}


@media only screen and (max-device-width : 1024px){
	.works-nav {
		top: auto !important;
		bottom: 0 !important;
		padding: 0 !important;
		width: 105px !important;

		h3,
		.works--arrow .works---arrowPrev,
		.works--arrow .works---arrowNext { display: none !important; }
		.works--arrow {
			float: none !important;
			margin-right: 0 !important;
			opacity: 1 !important;
			a { background: rgba(0,0,0,.8) !important; }
			.works---close { margin-left: 3%; }
			&:hover, &:active {
				a { background: $yellow !important; }
				a .works---close {
					color: #000 !important;
					font-weight: 500 !important;
				}
			}
		}
	}
}








