@import "_var.scss";



/* ----- JS opening modifications ----- */
.menuOverlay-container,
.menuOverlay-content {
	display: none;
}
.menuOverlay-container,
.menuOverlay-content,
.menuOverlay-headerMenu,
.menuOverlay-mainMenu > li {
	opacity: 0;
}
/*.menuOverlay-mainMenu > li { @include transform(translateY(10px)); }*/
.menuOverlay-headerMenu { @include transform(matrix(1, 0, 0, 1, 0, -200)); }
/* ------------------------------------ */
/*.menuOverlay-header { top: 0% }*/





.menuOverlay-container {
	/*background: url('../img/magic.gif') center center no-repeat;*/
	background-size: cover;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: 50;
}

.menuOverlay-content {
	/*background: rgba(0,0,0,.6);*/
	z-index: $menuZindex;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	position: fixed;

	& > ul {
		text-align: center;
		width: 100%;
	}







	header.menuOverlay-headerMenu {
		position: absolute;
		/*background: #000;*/
		/*border-top: $lowBorder;*/
		width: 100%;
		height: 15%;
		left: 0;
		background: $yellow;
		& > ul {
			width: 100%;
			height: 100%;
			& > li {
				height: 100%;
				float: left;
				width: 33.3%;
				&:first-child { width: 33.4%; }
			}
		}


		li:first-child .menuOverlay-logo {
			a {
				display: block;
				position: absolute;
				top: 50%;
				left: 3%;
				height: 45px;
				padding: 20px 0;
				text-decoration: none;
				font-size: 24px;
				color: rgba(0, 0, 0, 1);
				letter-spacing: 0px;
				font-family: $font-museo;
				font-weight: 600;
				
				@include transition(all .2s ease-out);
				@include transform(translateY(-50%));
				
				span {	
					margin-top: 5px;
					display: block;
					font-size: 12px;
					color: rgba(0,0,0,0.4);
					letter-spacing: 1px;
					@include transition(all .2s ease-out);
					&:last-child { opacity: 0; } 
				}
			}
			&:hover a {
				span {
					color: rgba(0,0,0,0.8);
					@include transform(translateY(-17px));
					&:first-child { opacity: 0; }
					&:last-child { opacity: 1; }
				}
			}
			&:active a {
				span {
					color: rgba(0,0,0,1);
				}
			}
		}


		li:last-child {

			.menuOverlay--close {
				width: 100%;
				height: 50%;
				svg {
					position: absolute;
					display: block;
					width: 20px;
					height: 20px;
					padding: 20px 10px 10px 10px;
					right: 0;
					transform-origin: center center;
					@include transition(all .2s ease-out);
					&:hover { @include animation(icon-cross-rotation .8s ease-out infinite); }
					&:active { @include animation(icon-cross-rotation 1s ease-out); }
				}
			}

			
		}

		
	}





	.menuOverlay-mainMenu {
		position: absolute;
		width: 100%;
		height: 85%;
		top: 15%;
		/*margin-top: 1px;*/
		& > li {
			width: 100%;
			height: 30%;
			background: rgba(23,23,23,0.9);
			border-top: 1px solid rgba(23,23,23,0);
			border-bottom: 1px solid rgba(23,23,23,0);
			& > a {
				display: block;
				height: 100%;
				text-decoration: none;
				span {
					display: block;
					position: relative;
					top: 55%;
					text-align: center;
					@include transform(translateY(-50%));
					letter-spacing: 2px;
					font-size: 120px;
					font-family: $font-streetBrush;
					color: $yellow;
				}
			}

			@include transform(transitionY(100%));
			@include transition(background .2s ease-out, border .2s ease-out);
			&:nth-child(3),
			&:nth-child(3):hover {
				border-bottom: 0;
			}
			
			&:hover {
				background: rgba(23,23,23,0.4);
				border-top: 1px solid rgba(0,0,0,1);
				border-bottom: 1px solid rgba(0,0,0,1);
			}
		}



		& > li:last-child {
			height: calc(10% - 7px);
			background: rgba(23,23,23,1);
			border-top: 1px solid #000;
			&:hover { background: rgba(23,23,23,0.9); }
			svg {
				fill: #fff;
				opacity: .2;
				display: block;	
				position: relative;
				margin: 0 auto;
				overflow: visible;
				top: 50%;
				@include transform(translateY(-50%));
				@include transition(all .2s ease-out);
			}



			.menuOverlay--externalLinks {
				float: left;
				height: 100%;
				width: calc(75px * 4);
				& > li {
					width: 75px;
					height: 100%;
					display: block;
					float: left;
					
					&:hover {
						a svg { opacity: 1; }
					}

					a {
						display: block;
						width: 100%;
						overflow: visible;
						height: 100%;
						@include transition(all .2s ease-out);
						.menuOverlay--menuContent {
							height: 100%;
							top: 0 !important;
							@include transform(translateY(0));
						}
						.icon-twitter,
						.icon-codepen,
						.icon-github,
						.icon-linkedin {
							height: 20px;
							width: 20px;
						}
					}
				}
			}


			.menuOverlay--secondMenu {
				height: 100%;
				float: right;
				margin-right: 3%;
				li {
					float: right;
					height: 100%;
					&:hover a {
						h4 { color: rgba(255,255,255,1); }
						svg {
							@include transform(translateY(-50%) scale(1.2));
							opacity: 1;
						}
					}
					a {
						display: block;
						text-decoration: none;
						height: 100%;
						padding: 0 15px;
						h4 {
							position: relative;
							display: block;
							height: 18px;
							color: rgba(255,255,255,0.2);
							font-size: 18px;
							letter-spacing: 1px;
							top: 50%;
							@include transform(translateY(-50%));
							@include transition(all .2s ease-out)
						}
					}
				}
			}
		}

	}
	
}




@media only screen and (max-device-width : 1024px){
	li:last-child ul {
		li a svg { opacity: 1 !important; }
		&.menuOverlay--secondMenu li a h4 { color: #fff !important; }
	}
}
@media only screen and (max-width: 900px){
	/* Full Screen button */
	.menuOverlay-mainMenu li:last-child ul.menuOverlay--secondMenu li:first-child { display: none; }
}

@media only screen and (max-width : 700px), screen and (max-height: 650px) {
	.menuOverlay-headerMenu { height: 10% !important; }
	.menuOverlay-mainMenu { 
		top: 10% !important;
		height: 90% !important;
		& > li { height: 27% !important; }
		& > li:last-child {
			height: 19% !important;
		}
		a span {
			font-size: 72px !important;
		}
		li:last-child {
			ul {
				height: 50% !important;
				width: 100% !important;
				margin-right: 0 !important;
				&.menuOverlay--externalLinks li { width: 25% !important; }
				&.menuOverlay--secondMenu li:nth-child(2) { width: 57% !important; }
				&.menuOverlay--secondMenu li:nth-child(3) { width: 43% !important; }
			}
		}
	}	
}
@media only screen and (max-height: 400px){
	.menuOverlay-headerMenu { height: 15% !important; }
	.menuOverlay-mainMenu { 
		top: 15% !important;
		height: 85% !important;
		& > li { height: 25% !important; }
		& > li:last-child {
			height: 25% !important;
		}
		a span {
			font-size: 64px !important;
		}
	}	
}






