@import "_var.scss";
/* ---------------- Works ---------------- */
	.works {	
		.works-list {
			overflow: hidden;
			width: 100%;

			.work--content {
				width: 80%;
				height: 100%;
				margin: auto;
				border-left: 1px dotted rgba(255,255,255,.2);
				border-right: 1px dotted rgba(255,255,255,.2);
				padding-bottom: 100px;
			}
			

			article {
				width: 100%;
				display: block;
				height: 350px;
				margin-top: 100px;
				border-top: 1px dotted rgba(255,255,255,.2);
				border-bottom: 1px dotted rgba(255,255,255,.2);

				&:first-child { margin-top: 0; }
				&:last-child { margin-bottom: 100px; }

				a {
					display: block;
					width: 100%;
					height: 100%;
					text-align: center;
					text-decoration: none;
					line-height: 400px;
					overflow: hidden;
					
					@include transition(all .2s ease-out);

				
					&:hover {
						.work---header {
							opacity: 1;
							/*background: rgba(5, 5, 20, 0.85);*/
							/*background: rgba(0,0,0,0);*/
							p:before { width: 100%; }
						}
						.work---details { opacity: 1; }
						.work---background { opacity: .6; }
					}

					.work---header {
						position: absolute;
						width: 80%;
						height: 350px;
						/*background: rgba(5, 5, 20, 0.85);*/
						/*background: rgba(0,0,0,1);*/
						/*background: rgba(5, 5, 20, 0);*/
						/*opacity: 0;*/
						@include transition(all .2s ease-out);
						z-index: 1;
						.work----headerContent {
							position: absolute;
							vertical-align: middle;
							line-height: normal;
							display: inline-block;	
							h3 {
								font-family: $font-goodFoot;
								font-size: 21px;
								color: #f4fd14;
								/*text-transform: uppercase;*/
								/*font-weight: 700;*/
								letter-spacing: 3px;
								display: block;
								@include transform(translateY(50%));
							}
							p:before {
								content: "";
								display: block;
								width: 80%;
								height: 1px;
								margin: 0px auto 15px auto;
								border-top: 1px solid rgba(255,255,255,.2);
								@include transition(width .2s ease-out);
							}

							p {
								display: block;
								color: rgba(255,255,255,1);
								font-family: $font-brandon;
								font-size: 16px; 
								line-height: 21px;
								letter-spacing: 2px;
								font-weight: 100;
								max-width: 200px;
								margin: 22px auto 0 auto;
							}
						}
					}
					.work---details {
						@include transition(all .2s ease-out);
						opacity: 0;
						position: absolute;
						font-family: $font-brandon;
						font-size: 18px;
						line-height: 27px;
						color: #fff;
						text-transform: uppercase;
						font-weight: 700;
						letter-spacing: 2px;
						z-index: 1;
						margin-top: 317px;
						padding: 3px 8px;
					}
					.work---background {
						position: absolute;
						width: 80%;
						height: 350px;
						@include transition(all .2s ease-out);
						opacity: 1;
					}
				}
				a.workClass-code,
				a.workClass-code .work---details { background: #3498db; }
				a.workClass-codeDesign,
				a.workClass-codeDesign .work---details { background: #e74c3c; }
				a.workClass-dataviz,
				a.workClass-dataviz .work---details { background: #2ecc71; }

				/*&:hover svg line {
					stroke: $yellow;
					-webkit-transition-delay: 0s;
					transition-delay: 0s;
				}

				&:hover svg line.worksList-work--top { @include transform(translateX(-350px)); }
				&:hover svg line.worksList-work--right { @include transform(translateY(-400px)); }
				&:hover svg line.worksList-work--bottom { @include transform(translateX(350px)); }
				&:hover svg line.worksList-work--left { @include transform(translateY(400px)); }

				svg {
					top: 0;
					left: 0;
					line {
						overflow: visible;
						stroke-width: 3;
						stroke: $yellow;
						fill: none;
						@include transition(transform .2s ease-out, stroke .6s ease-out)
					}
					line.worksList-work--top, line.worksList-work--bottom { stroke-dasharray: 360 330 360; }
					line.worksList-work--right, line.worksList-work--left { stroke-dasharray: 410 380 410; }
				}*/
			}
		}
		
		.works-contents {
			display: none;
		}
	}

	
/* --------------------------------------- */