@import "_var.scss";


.background.overlay-open {
	animation: animLoadedLoader 0.5s cubic-bezier(0.7,0,0.3,1) forwards;
}

@keyframes animLoadedLoader {
    to { 
        opacity: 0; 
        transform: translate3d(0,100%,0); 
    }
}



.menuOverlay-header {
	height: 10%;
	top: -10%;
	opacity: 0;

	width: 100%;
	cursor: pointer;
	border-bottom: $lowBorder;

	@include transition(all .2s ease-out);

	&:hover {
		background: rgba(0,0,0,.4);
		.menuOverlay--close {
			margin-top: -10px;
			opacity: 1;
			h5, .icon-cross { opacity: 1 !important; }
			&:hover .icon-cross {
				@include animation(icon-cross-rotation .8s ease-out infinite);
			}
		}
		
	}
	&:active .icon-cross {
		@include animation(icon-cross-rotation .8s ease-out infinite);
	}

	.menuOverlay--logo {
		position: relative;
		top: 50%;
		
		z-index: 5000;

		left: 3%;
		font-family: $font-brandon;
		font-weight: 300;
		font-size: 12px;
		color: rgba(255,255,255,.8);
		text-transform: uppercase;
		letter-spacing: 2px;

		/*margin-left: 135px;*/

		@include transform(translateY(-50%));

		span {
			margin-bottom: 5px;
			display: block;
			font-family: $font-goodFoot;
			font-size: 40px;
			color: $yellow;
			letter-spacing: 1px;
			word-spacing: -7px;
			text-transform: initial;
		}
	}

	.menuOverlay--close {
		opacity: 0;

		position: absolute;
		/*margin-top: -10px;*/
		margin-top: -15px;

		height: 30px;
		
		right: 3%;
		@include transition(all .2s ease-out);

		.icon-cross {
			fill: #F4FD14;
			opacity: .2;
			position: relative;
			margin: 0 auto;
			overflow: hidden;
			width: 30px;
			height: 30px;
			top: 8px;
			margin-left: 10px;
			display: inline-block;
			transform-origin: center center;
			@include transition(all .2s ease-out);

			
		}

		h5 {
			color: $yellow;
			font-size: 20px;
			text-align: center;
			letter-spacing: 1px;
			font-weight: 100;
			display: inline-block;
			opacity: .2;
			@include transition(opacity .2s ease-out);

			span {
				opacity: 0.4;
				@include transition(opacity .2s ease-out);
			}
		}
	}
}

@keyframes icon-cross-rotation {
	0% { @include transform(rotate(0deg)); }
	100% { @include transform(rotate(360deg)); }
}








.menuOverlay {
	display: none;
	position: fixed;
	/*background: rgba(0,0,0,.6);*/
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: $menuZindex;

	& > ul {
		display: table;
		text-align: center;
		width: 100%;

		& > li {
			display: table-cell;
			height: 100%;
			overflow: hidden;
			vertical-align: top;

			@include transition(all .2s ease-in-out);
			border-right: $lowBorder;
			

			& > a {
				display: block;
				height: 100%;
				color: rgba(255,255,255,.4);
				text-decoration: none;
				font-weight: 100;
				@include transition(all .2s ease-out);

				&:hover {
					color: rgba(255,255,255,1);
				}

				
			}
		}
	}

			.menuOverlay--menuContent {
				text-align:center;
				position: relative;
				top: 50%;
				@include transform(translateY(-50%));

				h3 {
					text-transform: uppercase;
					letter-spacing: 4px;
					display: block;
					color: $yellow;
					font-family: $font-brandon;
					
					padding-bottom: 0px;
					margin: 0 auto;
					width: 100%;
					border-bottom: 1px solid rgba(255,255,255,0);
					@include transition(all .2s ease-out);

				}
			
				p {
					display: block;
					opacity: 0;

					width: 80%;
					max-width: 350px;
					height: 0;
					margin: 0 auto;
					
					letter-spacing: 1px;
					font-family: $font-brandon;
					font-size: 18px;
					line-height: 30px;
					font-weight: 100;
					color: rgba(255,255,255,.8);

					@include transition-property(all);
					@include transition-duration(.2s);
					@include transition-duration(ease-out);
				}

			}



	.menuOverlay-mainMenu li,
	.menuOverlay-secondMenu {
		@include transition(all .2s ease-out);
		@include transform(transitionY(100%));
		opacity: 0;
	}


	.menuOverlay-mainMenu {
		height: 70%;
		& > li {
			width: 33%;
			@include transition(all .2s ease-out);
			&:first-child { width: 34%; }
		}
		li a .menuOverlay--menuContent h3 {
			font-size: 24px;
		}
	}
	.menuOverlay-secondMenu {
		height: 20%;
		
		li {
			border-top: $lowBorder;
			@include transition(all .2s ease-out);
		}

		.menuOverlay--subMenu li:first-child,
		.menuOverlay---externalLinks li:first-child {
			border-top: 0 !important;
		}


		li a .menuOverlay--menuContent h3 {
			font-size: 18px;			
		}
	}

		.menuOverlay--subMenu {
			height: 100%;
			width: 100%;

			& > li {
				display: block;
				@include box-sizing(border-box);
				height: 50%;

				@include transition(all .2s ease-out);

				&:last-child { border-bottom: 1px solid rgba(255,255,255,0); }

				& > a {
					display: block;
					height: 100%;
					width: 100%;
					text-decoration: none;
					font-weight: 100;
					@include transition(all .2s ease-out);
					letter-spacing: 2px !important;

					.menuOverlay--menuContent {
						height: 100%;
						h4 {
							opacity: .8;
							color: $yellow;
							border-bottom: 1px solid rgba(255,255,255,0);

							margin: 0 auto;
							width: 85%;
							padding-bottom: 12px;

							position: relative;
							top: 50%;
							@include transform(translateY(-50%));

							@include transition(all .2s ease-out);
						}
						p {
							margin-top: auto !important;
							position: relative;
							top: 60%;
							font-size: 16px;
							@include transition(all .2s ease-out);
						}
					}
				}
			}
		}

	.menuOverlay-secondMenu > li:last-child {
		width: 100px;
		.menuOverlay---externalLinks {
			height: 100%;
			width: 100%;
			& > li {
				display: block;

				@include box-sizing(border-box);
				width: 100%;
				height: 25%;
				&:last-child { border-bottom: 1px solid rgba(255,255,255,0); }
				a {
					display: block;
					width: 100%;
					height: 100%;
					@include transition(all .2s ease-out);
					.menuOverlay--menuContent {
						height: 100%;
						top: 0 !important;
						@include transform(translateY(0));
					}
				}
			}


			[class^="icon-"], [class*=" icon-"] {
				fill: #F4FD14;
				opacity: 1;
				display: block;	
				position: relative;
				margin: 0 auto;
				overflow: hidden;
				top: 50%;
				@include transform(translateY(-50%));
				@include transition(opacity .2s ease-out);
			}


			.icon-twitter,
			.icon-codepen,
			.icon-github,
			.icon-linkedin {
				width: 30px;
				height: 30px;

			}


		}
	}







	/* ----- li Hover ----- */
	li.menuOverlay--selected {
		/*width: 40% !important;*/
		/*border-right: 1px solid rgba(255,255,255,0);*/
		/*&:last-child { border-right: 1px solid rgba(255,255,255,0); }*/
		a {
			background: rgba(241, 196, 15,.2); /* Fallback */
			h3 {
				padding-bottom: 31px !important;
				border-bottom: $lowBorder !important;
				width: 80% !important;
			}
			.menuOverlay--menuContent h4 {
				opacity: 1 !important;
				border-bottom: $lowBorder !important;

				top: 40%;
				
			}
			p {
				/*@include transition-delay(.1s);*/
				margin-top: 26px !important;
				opacity: 1 !important;
				height: 30px !important;
			}
		}
	}

	li.menuOverlay--notSelected { 
		/*width: 30% !important;*/
		/*border-right: 1px solid rgba(255,255,255,0);
		border-bottom: 1px solid rgba(255,255,255,0);*/
		a {
			/*h3, h4 { opacity: .2 !important; }*/
		}
	}

		li.menuOverlay--selected-mainMenu {
			&:nth-child(1) a { background: $redOpa !important; }
			&:nth-child(2) a { background: $greenOpa !important; }
			&:nth-child(3) a { background: $blueOpa !important; }
		}
		li.menuOverlay--selected-secondMenu {
			&:nth-child(1) a { background: $orangeOpa !important; }
			&:nth-child(2) a { background: $violetOpa !important; }
		}
		li.menuOverlay--selected-subMenu {
			a {
				p {
					top: 35% !important;
				}
			}
		}

		li.menuOverlay--selected-externalLinks {
			a {
				background: rgba(241, 196, 15,.2);
				[class^="icon-"], [class*=" icon-"] {
					opacity: 1 !important;	
				}
			}
		}
		li.menuOverlay--notSelected-externalLinks {
			a {
				[class^="icon-"], [class*=" icon-"] {
					opacity: .2 !important;	
				}
			}
		}
	/* ----------------- */
	

}







