
/* ---------------- Home ---------------- */
	.home {
		/*display: none;*/

		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		#homeTitle {
			display: block;
			@include center-align;
			text-align: center;
			@include transition(all 0.2s ease-out);

			color: rgba(255,255,255,1);
			font-weight: $home-fontWeight;

			span {
				@include transition(opacity 0.2s ease-in-out, color .2s ease-out);
			}

			/*h1 {
				display: inline;
				margin: 0 10px;
				color: $yellow;
				& > span:first-of-type {
					margin-left: 10px;
				}
			}
			h1, h1 span {
				font-family: $font-goodFoot;
				font-size: 168px;
			}*/

			svg {

				display: inline-block;
				fill: rgba(0,0,0,0);
				stroke-width: 1;

				stroke: $yellow;

				overflow: hidden;
				transform-origin: center center;
				margin: 0 -5px -16px 5px;


				path {
					@include transition(stroke-dashoffset 0.2s ease-out);
				}
			}

			.alexis {
				fill: rgba(0,0,0,0);
				stroke-width: 1;
				stroke: $yellow;
				@include transition(fill 0.6s ease-out);
			}
	
			h2 {
				margin-left: 6px;
				letter-spacing: 2px;
				font-size: 21px;
				font-weight: $home-fontWeight;
			
				span {
					color: rgba(255,255,255,1);
					font-weight: $home-fontWeight;
					@include transition(color 0.2s ease-out);
				}
			}
			p {
				color: rgba(255,255,255,.4);
				font-size: 21px;
				letter-spacing: 2px;
				font-weight: $home-fontWeight;
				a {
					text-decoration: none;
					color: rgba(255,255,255,.8);
					@include transition(color 0.2s ease-out);
					&:hover { color: #fff; }
				}
			}
			& > p:first-of-type {
				margin-bottom: 30px;
				display: inline
			}
			& > p:last-of-type, h2 {
				display: inline;
			}
		}
		

		


		.home-btStartUx {
			position: absolute;
			top: 65%;
			left: 50%;
			@include transform(translate(-50%, -50%));
			@include transition(transform .6s ease-out);

			cursor: pointer;
			width: 245px;
			height: 52px;

			span {
				display: block;
				text-decoration: none;
				color: rgba(255,255,255,1);
				text-align: center;
				letter-spacing: 3px;
				text-transform: uppercase;
				font-weight: $home-fontWeight;
				font-size: 18px;
				padding: 17px 20px;
				@include transition(color 0.2s ease-out, border 0.2s ease-out);
				z-index: 60;
			}

			&:hover svg line {
				stroke: $yellow;
				-webkit-transition-delay: 0s;
				transition-delay: 0s;
			}

			&:hover svg line.home-btStartUx--top { @include transform(translateX(-245px)); }
			&:hover svg line.home-btStartUx--right { @include transform(translateY(-52px)); }
			&:hover svg line.home-btStartUx--bottom { @include transform(translateX(245px)); }
			&:hover svg line.home-btStartUx--left { @include transform(translateY(52px)); }

			svg {
				position: absolute;
				top: 0;
				left: 0;

				line {
					overflow: visible;
					stroke-width: 3;
					stroke: $yellow;
					fill: none;
					@include transition(transform .2s ease-out, stroke .6s ease-out)

				}
				line.home-btStartUx--top, line.home-btStartUx--bottom { stroke-dasharray: 255 225 255; }
				line.home-btStartUx--right, line.home-btStartUx--left { stroke-dasharray: 62 32 62; }	
			}
		}


		#home-tips {
			position: relative;
			margin: 20px -80px 0 auto;
			float: right;

			opacity: 0;
			display: block;
			font-family: $font-goodFoot;
			font-size: 32px;
			word-spacing: -10px;
			letter-spacing: 1px;
			color: rgba(244,253,20,0.4);
			@include transition(all .2s ease-out);
		}
	}


	
/* -------------------------------------- */