@import "../css/bourbon/bourbon";



@mixin center-align {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

$yellow: rgba(244,253,20,1); /* #f4fd14 */
$font-brandon: "brandon-grotesque", sans-serif;
$font-goodFoot: "good_footregular", sans-serif;

$home-fontWeight: 100;

@font-face {
    font-family: 'good_footregular';
    src: url('../fonts/goodfoot_regular_macroman/goodfoot-webfont.eot');
    src: url('../fonts/goodfoot_regular_macroman/goodfoot-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/goodfoot_regular_macroman/goodfoot-webfont.woff') format('woff'),
         url('../fonts/goodfoot_regular_macroman/goodfoot-webfont.ttf') format('truetype'),
         url('../fonts/goodfoot_regular_macroman/goodfoot-webfont.svg#good_footregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




body {
	font-size: 100%;
	background: #000;
	font-family: $font-brandon;
	font-weight: 300;
}


/* ---------------- System CSS ---------------- */
	::-moz-selection { color: #fff;  background: rgba(244,253,20,.6); }
	::selection      { color: #fff;  background: rgba(244,253,20,.6); } 


	section {
	

		width: 100%;
		height: 100%;
		z-index: 9;
	}
		section > div {
			z-index: 12;
		}
		.opacity {
			opacity: 1;
		}
		.background {
			position: fixed;
			top: 0;
			width: 100%;
			height: 100%;
			overflow: hidden;
			background: rgba(0,0,0,.7);
			/*-moz-box-sizing:    border-box;
   			-webkit-box-sizing: border-box;
    		box-sizing:        border-box;
    		border: 5px solid $yellow;
    		z-index: 10;*/

		}
		.load {
			position: absolute;
			bottom: 20px;
			right: 50px;
			overflow: hidden;
			background: #000;
			z-index: 1;
			span {
				font-family: 'valenciahairline', 'proxima-nova', sans-serif;
				font-size: 10em;
				color: rgba(255,255,255,.2);
				font-weight: 100;
				-webkit-transition: opacity .2s ease-out;
				-moz-transition: opacity .2s ease-out;
				-ms-transition: opacity .2s ease-out;
				-o-transition: opacity .2s ease-out;
				transition: opacity .2s ease-out;
			}
		}

	.logo {
		display: none;
		position: absolute;
		top: 50px;
		left: 50px;
		z-index: 5000;

		font-family: $font-brandon;
		font-weight: 300;
		font-size: 12px;
		color: rgba(255,255,255,.8);
		text-transform: uppercase;
		letter-spacing: 2px;


		span {
			margin-bottom: 5px;
			display: block;
			font-family: $font-goodFoot;
			font-size: 40px;
			color: $yellow;
			letter-spacing: 1px;
			word-spacing: -7px;
			text-transform: initial;
		}
	}




	.bt-menuOverlay {

		position: absolute;
		margin: auto;
		top: auto;
		right: 0;
		bottom: 120px;
		left: 0;

		width: 52px;
		cursor: pointer;
		padding: 10px;
		border: 2px solid rgba(255,255,255,.4);

		@include transition(color .2s ease-out, border .2s ease-out);

		color: rgba(255,255,255,.8);
		letter-spacing: 1px;
		font-size: 18px;
		text-transform: uppercase;
		font-weight: 300;

		z-index: 10;

		&:hover {
			color: rgba(255,255,255,1);
			border: 2px solid rgba(255,255,255, .8);
		}
	}
	


/*	.menuOverlay-externalLinks {
		position: absolute;
		margin: auto;
		top: auto;
		right: 0;
		bottom: 50px;
		left: 0;
		
		text-align: center;
		li {
			display: inline;
			a {
				display: inline-block;
				margin: 0 10px;
			}
		}
	}
*/

	.menuOverlay-externalLinks {
		.menuOverlay--twitter {
			height: 17px;
			width: 21px;
			background: url('../img/sprite.png') left top no-repeat;
			background-size: 500px 500px;
			-webkit-transition: background 0.1s ease-out;
			-moz-transition: background 0.1s ease-out;
			-o-transition: background 0.1s ease-out;
			transition: background 0.1s ease-out;
			&:hover {
				background-position: left -17px;
			}
		}
		.menuOverlay--linkedin {
			width: 19px;
			height: 18px;
			background: url('../img/sprite.png') left -36px no-repeat;
			background-size: 500px 500px;
			-webkit-transition: background 0.1s ease-out;
			-moz-transition: background 0.1s ease-out;
			-o-transition: background 0.1s ease-out;
			transition: background 0.1s ease-out;
			&:hover {
				background-position: left -54px;
			}
		}
	}

/*
	.mainNav {
		ul.mainNav-menu {
			position: relative;
			margin: 0 auto;
			li {
				display: inline-block;
				margin-left: -2px;
				margin-right: -2px;
				a {
					text-align: center;
					padding: 15px 15px;
					font-size: 18px;
					font-weight: 100;
					color: rgba(255,255,255,.4);
					text-transform: uppercase;
					text-decoration: none;
					-webkit-transition: color .2s ease-in-out;
					-moz-transition: color .2s ease-in-out;
					-ms-transition: color .2s ease-in-out;
					-o-transition: color .2s ease-in-out;
					transition: color .2s ease-in-out;
					
					&:hover {
						color: rgba(255,255,255,1);
					}
				}
				.homeTitle-menu_jsHover { color: rgba(255,255,255,.2); }
				.homeTitle-menu_jsActive { color: rgba(255,255,255,0); }
			}
		}
	}*/

	.home-bgVideo {
		position: fixed;
		top: 0;
		left: 0;
		min-width: 100%;
		min-height: 100%;
		width: auto;
		height: auto;
		z-index: 5;
		background: url('../img/bg_home.jpg') no-repeat;
		background-size: cover;
	}
/* --------------------------------------------- */
	










/* ---------------- Home ---------------- */
	.home {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: url('../img/bg_home.jpg') no-repeat center center fixed #000; 
		  -webkit-background-size: cover;
		  -moz-background-size: cover;
		  -o-background-size: cover;
		  background-size: cover;

		.homeTitle {
			display: block;
			@include center-align;
			text-align: center;
			
			color: rgba(255,255,255,1);
			font-weight: $home-fontWeight;
			span {
				-webkit-transition: opacity 0.2s ease-in-out, color .2s ease-out;
				-moz-transition: opacity 0.2s ease-in-out, color .2s ease-out;
				-ms-transition: opacity 0.2s ease-in-out, color .2s ease-out;
				-o-transition: opacity 0.2s ease-in-out, color .2s ease-out;
				transition: opacity 0.2s ease-in-out, color .2s ease-out;
			}

			/*h1 {
				display: inline;
				margin: 0 10px;
				color: $yellow;
				& > span:first-of-type {
					margin-left: 10px;
				}
			}
			h1, h1 span {
				font-family: $font-goodFoot;
				font-size: 168px;
			}*/

			svg {

				display: inline-block;
				fill: rgba(0,0,0,0);
				stroke-width: 1;

				stroke: $yellow;

				overflow: hidden;
				@include transition(transform 0.2s ease-out);
				transform-origin: center center;
				margin: 0 -5px -16px 5px;
			}

			.alexis {
				fill: rgba(0,0,0,0);
				stroke-width: 1;
				stroke: $yellow;
				@include transition(fill 0.6s ease-out);
			}
			





			h2 {
				margin-left: 6px;
				letter-spacing: 2px;
				font-size: 21px;
				font-weight: $home-fontWeight;
				& > span:first-of-type {
					margin-left: 6px;
				}
				span {
					color: rgba(255,255,255,1);
					font-weight: $home-fontWeight;
					-webkit-transition: color 0.2s ease-out;
					-moz-transition: color 0.2s ease-out;
					-ms-transition: color 0.2s ease-out;
					-o-transition: color 0.2s ease-out;
					transition: color 0.2s ease-out;
				}
			}
			p {
				color: rgba(255,255,255,.3);
				font-size: 21px;
				letter-spacing: 2px;
				font-weight: $home-fontWeight;
				a {
					text-decoration: none;
					color: rgba(255,255,255,.8);
					-webkit-transition: color 0.2s ease-out;
					-moz-transition: color 0.2s ease-out;
					-ms-transition: color 0.2s ease-out;
					-o-transition: color 0.2s ease-out;
					transition: color 0.2s ease-out;
					&:hover { color: #fff; }
				}
			}
			& > p:first-of-type {
				margin-bottom: 30px;
				display: inline
			}
			& > p:last-of-type, h2 {
				display: inline;
			}
		}






		.menuOverlay {
			display: none;
			position: relative;

			width: 100%;
			
			.menuOverlay-mainMenu {
				display: table;
				table-layout: fixed;
				/*position: absolute;*/
				text-align: center;
				vertical-align: middle;

				margin: 0 auto;
				overflow: hidden;

				& > li {
					display: table-cell;

					height: 250px;
					width: 300px;
					
					/*border-right: 1px solid rgba(255,255,255,.2);*/
					/*border-bottom: 1px solid rgba(255,255,255,.2);*/
					float: left;

					& > a, .menuOverlay-subMenu {
						/*display: table;*/
						
						

						/*padding: 15px 15px;*/
						font-size: 18px;
						color: rgba(255,255,255,.4);
						letter-spacing: 1px;
						
						text-decoration: none;
						font-weight: 100;

						/*border-right: 1px solid rgba(244,253,20,.8);
						border-bottom: 1px solid rgba(244,253,20,.8);*/
						
						@include transition(color .2s ease-out, background .2s ease-out);

						&:hover {
							color: rgba(255,255,255,1);
						}
						.menuOverlay--menuContent {
							/*display: table-cell;*/
							text-align:center;
							vertical-align: middle;

							h3 {
								margin: 50px 50px 20px 50px;
								font-size: 24px;
								display: block;
								color: $yellow;
								font-family: $font-goodFoot;
								padding-bottom: 20px;
								
								border-bottom: 1px solid rgba(255,255,255,.1);
							}
							p {
								margin: 0 50px 50px 50px;
								display: block;
							
								font-family: $font-brandon;
								font-size: 16px;
								line-height: 24px;
								font-weight: 100;
								color: rgba(255,255,255,.8);
							}

						}
					}
					.menuOverlay-subMenu {
						border-bottom: none;
					}

					.mainMenu_jsHover { color: rgba(255,255,255,.2); }
					.mainMenu_jsActive { color: rgba(255,255,255,0); }
				}
			}
		}










		.home-btStartUx {
			position: absolute;
			top: 60%;
			left: 50%;
			-webkit-transform: translate(-50%, -50%);
			-ms-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);


			-webkit-transition: -webkit-transform .6s ease-out;
			-moz-transition: -moz-transform .6s ease-out;
			-ms-transition: -ms-transform .6s ease-out;
			-o-transition: -o-transform .6s ease-out;
			transition: transform .6s ease-out;
			
			/*border: 1px solid rgba(255,255,255,1);*/

			width: 245px;
			height: 52px;

			a {
				display: block;
				text-decoration: none;
				color: rgba(255,255,255,1);
				text-align: center;
				letter-spacing: 3px;
				text-transform: uppercase;
				font-weight: $home-fontWeight;
				font-size: 18px;
				padding: 17px 20px;
				-webkit-transition: color .2s ease-out, border .2s ease-out;
				-moz-transition: color .2s ease-out, border .2s ease-out;
				-ms-transition: color .2s ease-out, border .2s ease-out;
				-o-transition: color .2s ease-out, border .2s ease-out;
				transition: color .2s ease-out, border .2s ease-out;
				z-index: 60;

				&:hover {
					color: #fff;
				}
				&:hover svg line {
					stroke: $yellow;
					-webkit-transition-delay: 0s;
					transition-delay: 0s;
				}

				&:hover svg line.home-btStartUx--top { @include transform(translateX(-245px)); }
				&:hover svg line.home-btStartUx--right { @include transform(translateY(-52px)); }
				&:hover svg line.home-btStartUx--bottom { @include transform(translateX(245px)); }
				&:hover svg line.home-btStartUx--left { @include transform(translateY(52px)); }

				/*&:hover svg line.home-btStartUx--top { @include transform(translateX(-232px)); }
				&:hover svg line.home-btStartUx--right { @include transform(translateY(-58px)); }
				&:hover svg line.home-btStartUx--bottom { @include transform(translateX(232px)); }
				&:hover svg line.home-btStartUx--left { @include transform(translateY(58px)); }*/

				/*&:hover svg line.home-btStartUx--top2 { @include transform(translateX(10px)); }
				&:hover svg line.home-btStartUx--right2 { @include transform(translateY(10px)); }
				&:hover svg line.home-btStartUx--bottom2 { @include transform(translateX(-10px)); }
				&:hover svg line.home-btStartUx--left2 { @include transform(translateY(-10px)); }
*/
				svg {
					position: absolute;
					top: 0;
					left: 0;

					line {
						stroke-width: 2;
						/*stroke: rgba(255,255,255,.4);*/
						stroke: $yellow;
						fill: none;
						
						-webkit-transition: -webkit-transform .2s ease-out, stroke .6s ease-out;
						-moz-transition: -moz-transform .2s ease-out, stroke .6s ease-out;
						-ms-transition: -ms-transform .2s ease-out, stroke .6s ease-out;
						-o-transition: -o-transform .2s ease-out, stroke .6s ease-out;
						transition: transform .2s ease-out, stroke .6s ease-out;
					}
					line.home-btStartUx--top, line.home-btStartUx--bottom { stroke-dasharray: 255 225 255; }
					line.home-btStartUx--right, line.home-btStartUx--left { stroke-dasharray: 62 32 62; }	
				}
			}
		}


	}

/* -------------------------------------- */












/* ---------------- Projets ---------------- */
	.works {
		h1 {
			text-align: center;
			color: #fff;
			font-size: 10em;
			margin-top: 200px;
		}

	}
/* ----------------------------------------- */







			@-webkit-keyframes dash {
				0% { stroke-offset: 1000; }
				100% { stroke-offset: 0; }
			}
			@keyframes dash {
				0% { stroke-offset: 1000; }
				100% { stroke-offset: 0; }
			}


			@-webkit-keyframes dashBack {
				0% { stroke-offset: 0; }
				100% { stroke-offset: 1000; }
			}
			@keyframes dashBack {
				0% { stroke-offset: 0; }
				100% { stroke-offset: 1000; }
			}













