@import "_var.scss";
@import "styles_home.scss";
@import "styles_menuOverlay.scss";



body {
	font-size: 100%;
	background: #111;
	font-family: $font-brandon;
	font-weight: 300;

}


/* ---------------- System CSS ---------------- */
	::-moz-selection { color: #fff;  background: rgba(244,253,20,.6); }
	::selection      { color: #fff;  background: rgba(244,253,20,.6); } 


	section {
		width: 100%;
		height: 100%;
		z-index: $sectionZindex;
	}
		section > div {
			z-index: $sectionZindex + 3;
		}
		.opacity {
			opacity: 1;
		}
		.preloader, .overlay, .background {
			position: fixed;
			top: 0;
			width: 100%;
			height: 100%;
			overflow: hidden;
		}
		.preloader {
			display: block;
			/*background: rgba(0,0,0,.6);*/
			background: #111;
			z-index: $sectionZindex + 5;
			@include transition(all .2s ease-out);
			height: 100%;

				svg {
					position: fixed;
					margin: auto;
					top: 0; right: 0; bottom: 0; left: 0;		
					display: block;
					overflow: visible;
					$gcd: 18; /* GCD of 558-522 | PGCD in french */
					$multiple: 6;
					width: 522px / $gcd * $multiple;
					height: 558px / $gcd * $multiple;
					
					fill: rgba(0,0,0,0);
					stroke-width: 5;
					stroke: $yellow;
					@include transform-origin((522px/$gcd)*($multiple/2) (558px/$gcd)*($multiple/2));
					@include transition(all 0.2s ease-out); 
					stroke-dasharray: 1000;
					stroke-dashoffset: 1000;
					@include animation(triskel-dash 3s ease-out infinite, triskel-rotation 6s linear infinite);
				}

				h4 {
					position: fixed;
					top: 50%;
					left: 50%;
					@include transform(translate(-50%, -50%));
					margin-top: 150px;
					color: $yellow;
					font-size: 20px;
					text-align: center;
					letter-spacing: 1px;
					font-weight: 100;
					span {
						opacity: 0.4;
						@include transition(opacity .2s ease-out);
					}
				}
			

		}


		.overlay {
			background: rgba(0,0,0,0);
			/*background: rgba(10,10,10,0.85);*/

			z-index: $sectionZindex - 2;
			@include transition(background .2s ease-out);
		}
		.background {
			background: url('../img/bg_homeBW.jpg') no-repeat center center fixed; 
			/*background: url('../img/bg_menu.jpg') no-repeat center center fixed; */
			@include background-size(cover);
			z-index: $sectionZindex - 3;
		
			@include transition(opacity 0.2s ease-out);
		}
		.load {
			position: absolute;
			bottom: 20px;
			right: 50px;
			overflow: hidden;
			background: #000;
			z-index: 1;
			span {
				font-family: 'valenciahairline', 'proxima-nova', sans-serif;
				font-size: 10em;
				color: rgba(255,255,255,.2);
				font-weight: 100;
				@inlude transition(opacity 0.2s ease-out);
			}
		}

	





/*	.menuOverlay-externalLinks {
		position: absolute;
		margin: auto;
		top: auto;
		right: 0;
		bottom: 50px;
		left: 0;
		
		text-align: center;
		li {
			display: inline;
			a {
				display: inline-block;
				margin: 0 10px;
			}
		}
	}
*/

	

/*
	.mainNav {
		ul.mainNav-menu {
			position: relative;
			margin: 0 auto;
			li {
				display: inline-block;
				margin-left: -2px;
				margin-right: -2px;
				a {
					text-align: center;
					padding: 15px 15px;
					font-size: 18px;
					font-weight: 100;
					color: rgba(255,255,255,.4);
					text-transform: uppercase;
					text-decoration: none;
					-webkit-transition: color .2s ease-in-out;
					-moz-transition: color .2s ease-in-out;
					-ms-transition: color .2s ease-in-out;
					-o-transition: color .2s ease-in-out;
					transition: color .2s ease-in-out;
					
					&:hover {
						color: rgba(255,255,255,1);
					}
				}
				#homeTitle-menu_jsHover { color: rgba(255,255,255,.2); }
				#homeTitle-menu_jsActive { color: rgba(255,255,255,0); }
			}
		}
	}*/

	.home-bgVideo {
		position: fixed;
		top: 0;
		left: 0;
		min-width: 100%;
		min-height: 100%;
		width: auto;
		height: auto;
		z-index: 5;
		background: url('../img/bg_home.jpg') no-repeat;
		background-size: cover;
	}
/* --------------------------------------------- */
	












		
			@keyframes triskel-rotation {
				0% { @include transform(rotate(0deg)); }
				100% { @include transform(rotate(360deg)); }
			}

			@-webkit-keyframes triskel-dash {
				0% { stroke-dashoffset: 1000; }
				50% { stroke-dashoffset: 0; }
				100% { stroke-dashoffset: 1000; }
			}
			@keyframes triskel-dash {
				0% { stroke-dashoffset: 1000; }
				50% { stroke-dashoffset: 0; }
				100% { stroke-dashoffset: 1000; }
			}




			@-webkit-keyframes dash {
				0% { stroke-dashoffset: 1000; }
				100% { stroke-dashoffset: 0; }
			}
			@keyframes dash {
				0% { stroke-dashoffset: 1000; }
				100% { stroke-dashoffset: 0; }
			}

			@-webkit-keyframes dashBack {
				0% { stroke-dashoffset: 0; }
				100% { stroke-dashoffset: 1000; }
			}
			@keyframes dashBack {
				0% { stroke-dashoffset: 0; }
				100% { stroke-dashoffset: 1000; }
			}













