@import "_var.scss";






.menuOverlay {
	display: none;
	position: fixed;
	/*background: rgba(0,0,0,.6);*/
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: $menuZindex;

	& > ul {
		display: table;
		text-align: center;
		width: 100%;

		& > li {
			display: table-cell;
			height: 100%;
			overflow: hidden;
			vertical-align: top;

			@include transition(all .2s ease-in-out);
			border-right: $lowBorder;
			

			& > a {
				display: block;
				height: 100%;
				width: 100%;
				color: rgba(255,255,255,.4);
				text-decoration: none;
				font-weight: 100;
				@include transition(all .2s ease-out);

				&:hover {
					color: rgba(255,255,255,1);
				}

				
			}
		}
	}



	.menuOverlay-header {
		position: absolute;
		height: 15%;
		@include transform(translateY(-15%));
		top: 0;
		opacity: 0;
		width: 100%;
		cursor: pointer;
		border-bottom: $lowBorder;
		@include transition(all .2s ease-out);
			

		.menuOverlay--logo {
			display: block;
			position: relative;
			top: 50%;
			left: 3%;
			float: left;
			z-index: 5000;
			width: 210px;
			padding: 20px 3% 20px 0;
			
			text-decoration: none;
			color: rgba(255,255,255,.4);
			text-transform: uppercase;
			letter-spacing: 2px;
			font-family: $font-brandon;
			font-weight: 300;
			font-size: 12px;
			&:hover {
				color: rgba(255,255,255,.8);
			}
			@include transition(color .2s ease-out);
			@include transform(translateY(-50%));
		
			span {	
				margin-bottom: 5px;
				display: block;
				font-family: $font-goodFoot;
				font-size: 40px;
				color: $yellow;
				letter-spacing: 1px;
				word-spacing: -7px;
				text-transform: initial;
			}
		}

		.menuOverlay--title {
			opacity: 1;
			position: absolute;
			top: 50%;
			@include transform(translateY(-50%));
			right: 3%;
			float: right;
			@include transition(all .2s ease-out);

			h2 {
				display: block;
				font-family: $font-brandon;
				font-size: 20px;
				text-transform: uppercase;
				color: rgba(255,255,255,1);
				letter-spacing: 3px;
			}
		}

		.menuOverlay--close {
			opacity: 0;
			position: absolute;
			top: 50%;
			@include transform(translateY(-50%));	
			padding-bottom: 14px;	
			float: right;
			right: 3%;
			@include transition(all .2s ease-out);

			.icon-cross {
				fill: #F4FD14;
				opacity: .2;
				position: relative;
				margin: 0 auto;
				overflow: hidden;
				width: 30px;
				height: 30px;
				top: 8px;
				margin-left: 10px;
				display: inline-block;
				transform-origin: center center;
				@include transition(all .2s ease-out);	
			}

			h5 {
				text-transform: uppercase;
				color: $yellow;
				font-size: 20px;
				text-align: center;
				letter-spacing: 3px;
				/*font-weight: 100;*/
				display: inline-block;
				opacity: .2;
				@include transition(opacity .2s ease-out);

				span {
					opacity: 0.4;
					@include transition(opacity .2s ease-out);
				}
			}

		}

	}

	@keyframes icon-cross-rotation {
		0% { @include transform(rotate(0deg)); }
		100% { @include transform(rotate(360deg)); }
	}




			.menuOverlay--menuContent {
				text-align:center;
				position: relative;
				top: 50%;
				@include transform(translateY(-50%));

				h3 {
					text-transform: uppercase;
					letter-spacing: 4px;
					display: block;
					color: #fff;
					font-family: $font-brandon;
					padding-bottom: 0px;
					margin: 0 auto;
					width: 80%;
					border-bottom: 1px solid rgba(255,255,255,0);
					@include transition(all .2s ease-out);

				}
			
				p {
					display: block;
					opacity: 0;

					width: 80%;
					max-width: 350px;
					height: 0;
					margin: 15px auto 0 auto;
					letter-spacing: 1px;
					font-family: $font-brandon;
					font-size: 16px;
					line-height: 26px;
					font-weight: 100;
					color: rgba(255,255,255,.8);

					@include transition-property(all);
					@include transition-duration(.2s);
					@include transition-duration(ease-out);
				}

			}



	.menuOverlay-mainMenu {
		position: absolute;
		top: 15%;
		margin-top: 1px;
		height: 65%;
		& > li {
			@include transform(transitionY(100%));
			opacity: 0;
			width: 33%;
			@include transition(all .2s ease-out);
			&:first-child { width: 34%; }
		}
		& > li:last-child { border-right: 0; }
		li a .menuOverlay--menuContent h3 {
			font-size: 24px;
		}
	}
	.menuOverlay-secondMenu {
		position: absolute;
		height: 20%;
		bottom: 0;
		@include transform(translateY(20%));

		@include transition(all .2s ease-out);
		opacity: 0;
		display: table !important;

		li {
			border-top: $lowBorder;
			@include transition(all .2s ease-out);
			&:last-child {
				border-right: 1px solid rgba(255,255,255,0);
			}
		}

		.menuOverlay--subMenu li:first-child,
		.menuOverlay---externalLinks li:first-child { border-top: 0 !important }


		li a .menuOverlay--menuContent h3 {
			font-size: 18px;			
		}
	}

		.menuOverlay--subMenu {
			height: 100%;
			width: 100%;

			& > li {
				display: block;
				@include box-sizing(border-box);
				height: 50%;
				overflow: hidden;
				@include transition(all .2s ease-out);
				&:last-child { border-bottom: 1px solid rgba(255,255,255,0); }

				& > a {
					display: block;
					height: 100%;
					width: 100%;
					text-decoration: none;
					font-weight: 100;
					@include transition(all .2s ease-out);
					letter-spacing: 2px !important;
					overflow: hidden;

					.menuOverlay--menuContent {
						h4 {
							opacity: .8;
							color: #fff;
							margin: 0 auto;
							width: 85%;
							padding-bottom: 5px;
							margin-top: 0px;
							@include transition(all .2s ease-out);
						}
						p {
							margin-top: 10px !important;
							/*top: 20%;*/
							font-size: 14px !important;
							line-height: 21px;
							display: block;
							width: 90%;
							font-size: 16px;
							@include transition(all .2s ease-out);
						}
					}
				}
			}
		}

	.menuOverlay-secondMenu > li:last-child {
		width: 100px;
		.menuOverlay---externalLinks {
			height: 100%;
			width: 100%;
			& > li {
				display: block;
				border-right: 1px solid rgba(255,255,255,0);

				@include box-sizing(border-box);
				width: 100%;
				height: 25%;
				&:last-child { border-bottom: 1px solid rgba(255,255,255,0); }
				a {
					display: block;
					width: 100%;
					overflow: visible;
					height: 100%;
					@include transition(all .2s ease-out);
					.menuOverlay--menuContent {
						height: 100%;
						top: 0 !important;
						@include transform(translateY(0));
					}
				}
			}


			[class^="icon-"], [class*=" icon-"] {
				fill: #fff;
				opacity: .4;
				display: block;	
				position: relative;
				margin: 0 auto;
				overflow: visible;
				top: 50%;
				@include transform(translateY(-50%));
				@include transition(opacity .2s ease-out);
			}

			.icon-twitter,
			.icon-codepen,
			.icon-github,
			.icon-linkedin {
				height: 20%;
				width: 22%;
			}
		}
	}







	/* ----- li Hover ----- */
	li.menuOverlay--selected {
		a {
			background: $menuBackground;
			/*background: rgba(241, 196, 15,.2);*/
			h3 {
				padding-bottom: 15px !important;
				border-bottom: $lowBorder !important;
			}
			h4 { margin-top: -10px !important; }
			p { opacity: 1 !important; }
		}
	}
	ul.menuOverlay--subMenu li.menuOverlay--selected p { @include transition-delay(.2s); }

	li.menuOverlay--notSelected a h3,
	li.menuOverlay--notSelected a h4 { opacity: .4 !important; }


		li.menuOverlay--selected-mainMenu {
			a {
				background: $menuBackground !important;
				/*background: rgba(241, 196, 15,.2);*/
				h3 {
					padding-bottom: 25px !important;
					border-bottom: $lowBorder !important;
				}
				p {
					/*@include transition-delay(.2s);*/
					margin-top: 20px !important;
					opacity: 1 !important;
					height: 30px !important;
				}
			}
			/*&:nth-child(1) a { background: $redOpa !important; }
			&:nth-child(2) a { background: $greenOpa !important; }
			&:nth-child(3) a { background: $blueOpa !important; }*/
			/*&:nth-child(1) a h3 { color: $redOpa !important; }
			&:nth-child(2) a h3 { color: $greenOpa !important; }
			&:nth-child(3) a h3 { color: $blueOpa !important; }*/
			/*&:nth-child(1) a,
			&:nth-child(2) a,
			&:nth-child(3) a,
			li.menuOverlay--selected-secondMenu:nth-child(1) a,
			li.menuOverlay--selected-secondMenu:nth-child(2) a { background: rgba(0,0,0,.4) !important; }*/
		}
		/*li.menuOverlay--selected-secondMenu {
			&:nth-child(1) a { background: $orangeOpa !important; }
			&:nth-child(2) a { background: $violetOpa !important; }
		}*/

		li.menuOverlay--selected-externalLinks {
			a {
				/*background: rgba(241, 196, 15,.2);*/
				[class^="icon-"], [class*=" icon-"] {
					opacity: 1 !important;
				}
			}
		}
		li.menuOverlay--notSelected-externalLinks {
			a {
				[class^="icon-"], [class*=" icon-"] {
					opacity: .2 !important;	
				}
			}
		}
	/* ----------------- */
	

}


@media only screen and (min-width : 901px){
	.menuOverlay-header:hover {
		background: rgba(0,0,0,1);
		.menuOverlay--close {
			margin-top: -10px;
			opacity: 1;
			h5, .icon-cross { opacity: 1 !important; }
			&:hover .icon-cross {
				@include animation(icon-cross-rotation .8s ease-out infinite);
			}
		}
		.menuOverlay--title {
			margin-top: -20px;
			opacity: 0;
		}
	}
	.menuOverlay-header:active .icon-cross { @include animation(icon-cross-rotation 1s ease-out); }
}








@media only screen and (max-width : 900px), screen and (max-height: 800px) {
	.menuOverlay {
		position: absolute;
		height: auto;
		.menuOverlay--menuContent p { display: none !important; }
	}
	.menuOverlay-header {
		position: relative !important;
		.menuOverlay--title, .menuOverlay--close h5 { opacity: 0 !important; }
		.menuOverlay--close, .menuOverlay--close svg  { opacity: 1 !important; }
	}
	.menuOverlay-mainMenu {
		position: relative !important;
		top: 0!important;
		& > li {
			display: block !important;
			width: 100% !important;
			border-right: 0 !important;
		}
	}
	.menuOverlay-secondMenu,
	.menuOverlay--subMenu {
		position: relative !important;
	}
	.menuOverlay .menuOverlay-secondMenu > li:last-child { width: 100% !important; }


	/* --- Default responsive Height --- */
		.menuOverlay-header { height: 150px !important; }
		.menuOverlay-mainMenu {
			height: 450px !important;
			& > li { height: 150px !important; }
		}
		.menuOverlay-secondMenu {
			height: 100px * 2 + 75px * 2 + 100px !important;
			& > li {
				height: 100px !important;
				display: block !important;
			}
			li:nth-child(2) { border-top: 0 !important; }
			li:nth-child(3),
			.menuOverlay--subMenu { height: 150px !important; }
			.menuOverlay--subMenu li { height: 75px !important; }
			.menuOverlay---externalLinks {
				width: 100% !important;
				height: 100px !important;
				li {
					float: left;
					width: 25% !important;
					height: 100px !important;
					border-right: $lowBorder !important;
					&:last-child { border-right: 0 !important; }
				}
			}
		}
	/* --------------------------------- */
} 






@media only screen and (min-height: 701px) and (max-width : 900px){
	.menuOverlay { height: 100% !important }
	.menuOverlay-header { height: 10% !important; }
	.menuOverlay-mainMenu {
		position: absolute !important;
		margin-top: 1px !important;
		top: 10% !important;
		height: 50% !important;
		& > li {
			height: 33% !important;
			&:last-child { height: 34% !important; }
		}
	}
	.menuOverlay-secondMenu {
		position: absolute !important;
		height: 40% !important;
		bottom: 0 !important;
		& > li:nth-child(1),
		& > li:nth-child(2),
		& > li:nth-child(4){ height: 20% !important; }
		& > li:nth-child(3){ height: 40% !important; }
		.menuOverlay--subMenu {
			height: 100% !important;
			li { height: 50% !important; }
		}
		.menuOverlay---externalLinks {
			width: 100% !important;
			height: 100% !important;
			li {
				width: 25% !important;
				height: 100% !important;
			}
		}
	}
}

@media only screen and (max-height : 700px) and (max-width : 900px){
	.menuOverlay-header { height: 100px !important; }
	.menuOverlay-mainMenu {
		height: 300px !important;
		& > li { height: 100px !important; }
	}
	.menuOverlay-secondMenu {
		height: 70px * 2 + 50px * 2 + 70px !important;
		& > li { height: 70px !important }
		li:nth-child(3),
		.menuOverlay--subMenu { height: 100px !important; }
		.menuOverlay--subMenu li { height: 50px !important; }
		.menuOverlay---externalLinks {
			height: 70px !important;
			li svg { margin-top: -13px !important; }
		}
	}
}
