@import "_var.scss";


/* ---------------- Home ---------------- */
	.home {
		/*display: none;*/

		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;

		.home-title {
			display: block;
			position: relative;
			top: 50%;
			@include transform(translateY(-50%));
			margin: 0 auto;
			text-align: center;
			width: 400px;
			@include transition(all 0.2s ease-out);

			color: rgba(255,255,255,1);
			font-weight: $home-fontWeight;

			span {
				@include transition(opacity 0.2s ease-in-out, color .2s ease-out);
			}

			/*h1 {
				display: inline;
				margin: 0 10px;
				color: $yellow;
				& > span:first-of-type {
					margin-left: 10px;
				}
			}
			h1, h1 span {
				font-family: $font-streetBrush;
				font-size: 168px;
			}*/

			svg {
				display: block;
				fill: rgba(0,0,0,0);
				stroke-width: 1;

				stroke: $yellow;
				width: 100%;
				height: 100%;
				overflow: hidden;
				transform-origin: center center;
				margin: 20px 0px;

				stroke-dasharray: 2000;
				stroke-dashoffset: 2000;

				path {
					@include transition(stroke-dashoffset 0.2s ease-out);
				}
			}

			.alexis {
				fill: rgba(0,0,0,0);
				stroke-width: 1;
				stroke: $yellow;
				@include transition(fill 0.6s ease-out);
			}
	
			h2 {
				margin-left: 6px;
				letter-spacing: 2px;
				font-size: 28px;
				font-weight: $home-fontWeight;
				color: rgba(255,255,255,1);
				span {
					color: rgba(255,255,255,1);
					font-weight: $home-fontWeight;
					@include transition(color 0.2s ease-out);
				}
			}
			p {
				color: rgba(255,255,255,.4);
				font-size: 28px;
				letter-spacing: 2px;
				font-weight: 100;
				a {
					text-decoration: none;
					color: rgba(255,255,255,.4);
					@include transition(color 0.2s ease-out);
					&:hover { color: #fff; }
				}
			}
			& > p:last-of-type, h2 {
				display: inline;
			}
		}
		

		


		.home-btStartUx {
			position: absolute;
			margin: auto;
			@include transition(transform .4s ease-out);
			bottom: 0px;
			left: 0;
			right: 0;
			cursor: pointer;
			width: 245px;
			height: 52px;

			span {
				display: block;
				text-decoration: none;
				color: rgba(255,255,255,1);
				text-align: center;
				letter-spacing: 3px;
				text-transform: uppercase;
				font-weight: $home-fontWeight;
				font-size: 18px;
				padding: 17px 20px;
				@include transition(color 0.2s ease-out, border 0.2s ease-out);
				z-index: 60;
			}

			&:hover svg line {
				stroke: $yellow;
				-webkit-transition-delay: 0s;
				transition-delay: 0s;
			}

			&:hover svg line.home-btStartUx--top { @include transform(translateX(-245px)); }
			&:hover svg line.home-btStartUx--right { @include transform(translateY(-52px)); }
			&:hover svg line.home-btStartUx--bottom { @include transform(translateX(245px)); }
			&:hover svg line.home-btStartUx--left { @include transform(translateY(52px)); }

			svg {
				position: absolute;
				top: 0;
				left: 0;

				line {
					overflow: visible;
					stroke-width: 3;
					stroke: $yellow;
					fill: none;
					@include transition(transform .2s ease-out, stroke .6s ease-out)

				}
				line.home-btStartUx--top, line.home-btStartUx--bottom { stroke-dasharray: 255 225 255; }
				line.home-btStartUx--right, line.home-btStartUx--left { stroke-dasharray: 62 32 62; }	
			}

			#home-tips {
				position: relative;
				margin: 0px -80px 0 auto;
				float: right;
				opacity: 0;
				display: block;
				font-family: $font-streetBrush;
				font-size: 32px;
				word-spacing: -10px;
				letter-spacing: 1px;
				color: rgba(244,253,20,0.4);
				@include transition(all .2s ease-out);
			}
		}
	}


	
/* -------------------------------------- */


@media only screen and (max-width : 1101px){
	.home-title {
		max-width: 400px;
		line-height: 50px;
		svg {
			stroke-dasharray: 0 !important;
			stroke-dashoffset: 0 !important;
			.alexis { fill: $yellow !important; }
		}
	}
}
@media only screen and (max-height : 1100px){ .home-btStartUx { top: 70% !important; }}
@media only screen and (max-height : 850px){ .home-btStartUx { top: 75% !important; }}
@media only screen and (max-height : 600px){
	.home-title { top: 37% !important; }
	.home-btStartUx { top: 80% !important; }
}

@media only screen and (max-width : 500px){
	.home-title {
		h2 { display: block !important; }
		p { display: none !important; }
	}
	.home-btStartUx {
		svg { display: none; }
		span { border: 1px solid $yellow; }
		#home-tips { display: none !important; }
	}
}

@media only screen and (max-width : 500px){
	.home-title {
		h2 { line-height: 30px !important; }
		svg { max-width: 80% !important; }
	}
	.home-btStartUx {
		width: 210px !important;
		span {
			font-size: 14px !important;
		}
	}
}








