@import "_var.scss";
@import "styles_home.scss";
@import "styles_works.scss";
@import "styles_menuOverlay.scss";



body {
	font-size: 100%;
	background: #111;
	font-family: $font-brandon;
	font-weight: 300;

}


/* ---------------- System CSS ---------------- */
	::-moz-selection { color: #fff;  background: rgba(244,253,20,.6); }
	::selection      { color: #fff;  background: rgba(244,253,20,.6); } 


	section {
		position: absolute;
		z-index: $sectionZindex;
		width: 100%;
	}
		section > div {
			z-index: $sectionZindex + 3;
		}
		.opacity {
			opacity: 1;
		}
		.preloader, .overlay, .background {
			position: fixed;
			top: 0;
			width: 100%;
			height: 100%;
			overflow: hidden;
		}
		.preloader {
			display: block;
			/*background: rgba(0,0,0,.6);*/
			/*background: #111; */
			background: #000;
			z-index: $sectionZindex + 5;
			@include transition(all .2s ease-out);
			height: 100%;

				svg {
					position: fixed;
					margin: auto;
					top: 0; right: 0; bottom: 0; left: 0;		
					display: block;
					overflow: visible;
					$gcd: 18; /* GCD of 558-522 | PGCD in french */
					$multiple: 6;
					width: 522px / $gcd * $multiple;
					height: 558px / $gcd * $multiple;
					
					fill: rgba(0,0,0,0);
					stroke-width: 5;
					stroke: $yellow;
					@include transform-origin((522px/$gcd)*($multiple/2) (558px/$gcd)*($multiple/2));
					@include transition(all 0.2s ease-out); 
					stroke-dasharray: 1000;
					stroke-dashoffset: 1000;
					@include animation(triskel-dash 3s ease-out infinite, triskel-rotation 6s linear infinite);
				}

				h4 {
					position: fixed;
					top: 50%;
					left: 50%;
					@include transform(translate(-50%, -50%));
					margin-top: 150px;
					color: $yellow;
					font-size: 20px;
					text-align: center;
					letter-spacing: 1px;
					font-weight: 100;
					span {
						opacity: 0.4;
						@include transition(opacity .2s ease-out);
					}
				}
			

		}


		.overlay {
			background: rgba(0,0,0,.4);
			/*background: rgba(10,10,10,0.85);*/

			z-index: $sectionZindex - 2;
			@include transition(background .2s ease-out);
		}
		.background {
			background: url('../img/bg_home_test.jpg') no-repeat center center fixed; 
			/*background: url('../img/bg_menu.jpg') no-repeat center center fixed; */
			@include background-size(cover);
			z-index: $sectionZindex - 3;
		
			@include transition(opacity 0.2s ease-out);
		}
		.load {
			position: absolute;
			bottom: 20px;
			right: 50px;
			overflow: hidden;
			background: #000;
			z-index: 1;
			span {
				font-family: 'valenciahairline', 'proxima-nova', sans-serif;
				font-size: 10em;
				color: rgba(255,255,255,.2);
				font-weight: 100;
				@inlude transition(opacity 0.2s ease-out);
			}
		}

	


	.home-bgVideo {
		position: fixed;
		top: 0;
		left: 0;
		min-width: 100%;
		width: auto;
		height: auto;
		z-index: 5;
		background: url('../img/bg_home.jpg') no-repeat;
		background-size: cover;
	}




	header {
		margin: 250px 0 !important;
		text-align: center;
		h1 {
			font-family: $font-goodFoot !important;
			font-size: 216px !important;
			color: $yellow;
			letter-spacing: 5px;
			line-height: 120px;
			margin-bottom: 32px !important;
			display: inline-block;
		}
		h2 {
			color: rgba(255,255,255,1);
			text-transform: uppercase;
			font-size: 16px;
			line-height: 28px;
			letter-spacing: 10px;
			font-family: "brandon-grotesque",sans-serif;
			font-weight: 500;
			display: block;
			margin: 0 auto;
		}	
	}
	





/* --------------------------------------------- */
	



















			@keyframes triskel-rotation {
				0% { @include transform(rotate(0deg)); }
				100% { @include transform(rotate(360deg)); }
			}

			@-webkit-keyframes triskel-dash {
				0% { stroke-dashoffset: 1000; }
				50% { stroke-dashoffset: 0; }
				100% { stroke-dashoffset: 1000; }
			}
			@keyframes triskel-dash {
				0% { stroke-dashoffset: 1000; }
				50% { stroke-dashoffset: 0; }
				100% { stroke-dashoffset: 1000; }
			}




			@-webkit-keyframes dash {
				0% { stroke-dashoffset: 1000; }
				100% { stroke-dashoffset: 0; }
			}
			@keyframes dash {
				0% { stroke-dashoffset: 1000; }
				100% { stroke-dashoffset: 0; }
			}

			@-webkit-keyframes dashBack {
				0% { stroke-dashoffset: 0; }
				100% { stroke-dashoffset: 1000; }
			}
			@keyframes dashBack {
				0% { stroke-dashoffset: 0; }
				100% { stroke-dashoffset: 1000; }
			}













